@using Talakado.Application.Catalogs.CatalogItems.GetCatalogItemPLP;
@using Talakado.Application.Dtos;
@model PaginatedItemDto<CatalogPLPDto>
@{
    ViewData["Title"] = "لیست محصولات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content wrapper start -->
@* <div class="content-wrapper"> *@
    <!-- Breadcrumb start -->
    <div class="breadcrumb-wrap bg-linen">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="breadcrumb-menu list-style">
                        <li><a href="index.html">خانه</a></li>
                        <li>فروشگاه سایدبار 2</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb end -->
    <!-- Shop Start -->
    <div class="shop-wrap ptb-100">
        <div class="container">
            <div class="row gx-5">
                <div class="col-xl-3 col-lg-4">
                    <div class="sidebar">
                        <div class="sidebar-widget search-box ">
                            <input type="search" placeholder="جستجو...">
                            <button type="submit"> <i class="flaticon-search-interface-symbol"></i> </button>
                        </div>
                        <div class="sidebar-widget categories">
                            <h4>دسته بندی ها</h4>
                            <ul class="product-category-list list-style">
                                <li class="has-subcat">
                                    <a class="active" href="javascript:void(0)">جواهرات طلا </a>
                                    <ul class="subcategory  list-style">
                                        <li><a href="shop-left-sidebar.html"><i class="las la-angle-left"></i>گوشواره</a></li>
                                        <li><a href="shop-4-column.html"><i class="las la-angle-left"></i>دستبند</a></li>
                                        <li><a href="shop-right-sidebar.html"><i class="las la-angle-left"></i>حلقه</a></li>
                                    </ul>
                                </li>
                                <li class="has-subcat">
                                    <a href="javascript:void(0)">مروارید </a>
                                    <ul class="subcategory  list-style">
                                        <li><a href="shop-left-sidebar.html"><i class="las la-angle-left"></i>گوشواره</a></li>
                                        <li><a href="shop-4-column.html"><i class="las la-angle-left"></i>دستبند</a></li>
                                        <li><a href="shop-right-sidebar.html"><i class="las la-angle-left"></i>حلقه</a></li>
                                    </ul>
                                </li>
                                <li class="has-subcat">
                                    <a href="javascript:void(0)">الماس</a>
                                    <ul class="subcategory  list-style">
                                        <li><a href="shop-left-sidebar.html"><i class="las la-angle-left"></i>گوشواره</a></li>
                                        <li><a href="shop-4-column.html"><i class="las la-angle-left"></i>دستبند</a></li>
                                        <li><a href="shop-right-sidebar.html"><i class="las la-angle-left"></i>حلقه</a></li>
                                    </ul>
                                </li>
                                <li class="has-subcat">
                                    <a href="javascript:void(0)">جواهرات نقره </a>
                                    <ul class="subcategory  list-style">
                                        <li><a href="shop-left-sidebar.html"><i class="las la-angle-left"></i>گوشواره</a></li>
                                        <li><a href="shop-4-column.html"><i class="las la-angle-left"></i>دستبند</a></li>
                                        <li><a href="shop-right-sidebar.html"><i class="las la-angle-left"></i>حلقه</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-widget price-range-widget">
                            <h4>فیلتر قیمت</h4>

                            <div class="checkbox-item-wrap">
                                <div class="checkbox-item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="check_1">
                                        <label for="check_1">11 تومان - 15 تومان</label>
                                    </div>
                                    <span>(11)</span>
                                </div>
                                <div class="checkbox-item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="check_2">
                                        <label for="check_2">15 تومان - 20 تومان</label>
                                    </div>
                                    <span>(6)</span>
                                </div>
                                <div class="checkbox-item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="check_3">
                                        <label for="check_3">25 تومان - 30 تومان</label>
                                    </div>
                                    <span>(15)</span>
                                </div>
                                <div class="checkbox-item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="check_4">
                                        <label for="check_4">30 تومان - 35 تومان</label>
                                    </div>
                                    <span>(12)</span>
                                </div>
                                <div class="checkbox-item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="check_5">
                                        <label for="check_5">40 تومان - 45 تومان</label>
                                    </div>
                                    <span>(9)</span>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-widget price-range-widget">
                            <h4>فیلتر اندازه</h4>

                            <div class="checkbox-item-wrap">
                                <div class="checkbox-item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="check_11">
                                        <label for="check_11">16</label>
                                    </div>
                                    <span>(11)</span>
                                </div>
                                <div class="checkbox-item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="check_12">
                                        <label for="check_12">17</label>
                                    </div>
                                    <span>(6)</span>
                                </div>
                                <div class="checkbox-item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="check_13">
                                        <label for="check_13">18</label>
                                    </div>
                                    <span>(15)</span>
                                </div>
                                <div class="checkbox-item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="check_14">
                                        <label for="check_14">19</label>
                                    </div>
                                    <span>(12)</span>
                                </div>

                            </div>
                        </div>
                        <div class="sidebar-widget price-range-widget">
                            <h4>فیلتر رنگ</h4>

                            <div class="checkbox-item-wrap">
                                <div class="checkbox-item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="check_21">
                                        <label for="check_21">نقره</label>
                                    </div>
                                    <span>(11)</span>
                                </div>
                                <div class="checkbox-item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="check_22">
                                        <label for="check_22">طلا</label>
                                    </div>
                                    <span>(6)</span>
                                </div>
                                <div class="checkbox-item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="check_23">
                                        <label for="check_23">سفید</label>
                                    </div>
                                    <span>(15)</span>
                                </div>
                                <div class="checkbox-item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="check_24">
                                        <label for="check_24">برنز</label>
                                    </div>
                                    <span>(12)</span>
                                </div>

                            </div>
                        </div>
                        <div class="sidebar-widget new-product">
                            <h4>جدیدترین ها</h4>
                            <div class="new-product-wrap">
                                <div class="new-product-item">
                                    <div class="new-product-img">
                                        <img src="~/theme/assets/img/product/product-thumb-2.png" alt="Iamge">
                                    </div>
                                    <div class="new-product-info">
                                        <h6><a href="shop-details.html">حلقه الماس</a></h6>
                                        <span>11 تومان</span>
                                        <span class="discount">21 تومان</span>
                                    </div>
                                </div>
                                <div class="new-product-item">
                                    <div class="new-product-img">
                                        <img src="~/theme/assets/img/product/product-thumb-1.png" alt="Iamge">
                                    </div>
                                    <div class="new-product-info">
                                        <h6><a href="shop-details.html">حلقه طلا</a></h6>
                                        <span>11 تومان</span>
                                    </div>
                                </div>
                                <div class="new-product-item">
                                    <div class="new-product-img">
                                        <img src="~/theme/assets/img/product/product-thumb-3.png" alt="Iamge">
                                    </div>
                                    <div class="new-product-info">
                                        <h6><a href="shop-details.html">دستبند طلا</a></h6>
                                        <span>11 تومان</span>
                                        <span class="discount">21 تومان</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="row align-items-center mb-25">
                        <div class="col-xl-7 col-lg-5 col-md-4">
                            <div class="profuct-result">
                                <p>نمایش 10 از 120 محصول</p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-4">
                            <div class="filter-item-cat">
                                <select>
                                    <option value="1">مرتب سازی پیش فرض</option>
                                    <option value="2">محصولات پرطرفدار</option>
                                    <option value="3">محصولات جدید</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4">
                            <div class="filter-item-num">
                                <select>
                                    <option value="1">10 نمایش</option>
                                    <option value="2">20 نمایش</option>
                                    <option value="3">30 نمایش</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                    @foreach(var item in Model.Data)
                    {
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="product-card style1">
                                <div class="product-img">
                                    <img src="@item.Image" alt="Image">
                                    <div class="product-option">
                                        <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                                        <button class="add-to-wishlist" type="button">
                                            <i class="lar la-heart"></i>
                                        </button>
                                        <button class="add-to-cart" type="button">
                                            <i class="las la-shopping-cart"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h4 class="product-name"><a class="text-black" href="@Url.Action("details","product")/@item.Id">@item.Name</a></h4>
                                    <p class="product-promo-text">
                                        موجود در انبار و نسخه کمیاب
                                    </p>
                                    <div class="product-price">
                                        <span class="text-sienna">@item.Price.ToString("n0") تومان</span> <span class="discount">@((item.Price *2).ToString("n0")) تومان</span>
                                    </div>
                                    <ul class="ratings style1 list-style">
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="rated"><i class="las la-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                    <div class="page-navigation">
                        <div class="row">
                            <div class="col-lg-12 ">
                                <ul class="page-nav list-style">
                                    <li><a href="#"> <i class="flaticon-next"></i> </a></li>
                                    <li><a class="active" href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#"> <i class="flaticon-left-arrow"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Collection end -->


@* </div> *@
<!-- Content wrapper end -->