@using Talakado.Web.Controllers;
@model Talakado.Application.BasketsService.BasketDto;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <!-- Breadcrumb start -->
    <div class="breadcrumb-wrap bg-linen">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <ul class="breadcrumb-menu list-style">
                        <li><a href="index.html">خانه</a></li>
                        <li>سبد خرید</li>
                    </ul>
                </div>
                <div class="col-lg-4 text-md-end">
                    <div class="breadcrumb-text">
                        <p>پیشنهاد زمستانی با 70% تخفیف ویژه</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb end -->
    <!-- Cart Section Start -->
    <section class="cart-wrap ptb-100">
        <div class="container">
            <div class="row gx-4">
                <div class="col-xxl-9 col-xl-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="wishlist-table ">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">موارد</th>
                                            <th scope="col">قیمت</th>
                                            <th scope="col">تعداد</th>
                                            <th scope="col">مجموع</th>
                                            <th scope="col">حذف</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Items)
                                    {
                                        <tr>
                                            <td>
                                                <div class="wh_item">
                                                    <div class="wh_item_img">
                                                        <img src="@item.ImageUrl" alt="Image">
                                                    </div>
                                                    <div class="wh_item-info text-left">
                                                        <a href="single-product.html">@item.CatalogName</a>
                                                        <span>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است؟</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="wh-tem-price">@item.UnitPrice.ToString("n0") تومان</p>
                                            </td>
                                            <td>
                                                <div class="wh_qty">
                                                    <div class="product-quantity">
                                                        <div class="qtySelector">
                                                            <span class="las la-minus decreaseQty"></span>
                                                            <input type="text" class="qtyValue" value="@item.Quantity" />
                                                            <span class="las la-plus increaseQty"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="wh-tem-price text-red">1100 تومان</p>
                                            </td>
                                            <td>
                                                <button class="cart-action" type="button" onclick="RemoveItemOfBasket('@item.Id')">
                                                    <i class="las la-trash-alt"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="shop-left-sidebar.html" class="btn style4">بازگشت به فروشگاه</a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-4">
                    <div class="checkout-details">
                        <div class="content-box-title">
                            <h5>خلاصه سفارش</h5>
                        </div>
                        <div class="bill-details">
                            <div class="bill-item-wrap">
                            @foreach (var item in Model.Items)
                            {
                                <div class="bill-item">
                                    <div class="bill-item-name">
                                        <p>@item.CatalogName</p>
                                    </div>
                                    <div class="bill-item-price">
                                        <span>@item.UnitPrice.ToString("n0") تومان</span>
                                    </div>
                                </div>
                            }
                            
                            </div>
                            <div class="subtotal-wrap">
                                <div class="subtotal-item pt-1">
                                    <div class="subtotal-item-left">
                                        <h6>مجموع</h6>
                                    </div>
                                    <div class="subtotal-item-right">
                                    @if (Model != null && Model.Items.Count > 0)
                                    {
                                        <span>@Model.Total().ToString("n0")تومان</span>
                                    }
                                    else
                                    {
                                        <span>تومان 0 </span>
                                    }
                                    </div>
                                </div>
                                <div class="subtotal-item">
                                    <h6>دارای یک کد تخفیف؟</h6>
                                    <div class="form-group mb-0 w-100">
                                        <input class="w-100" type="text" placeholder="کد تخفیف را وارد کنید">
                                        <button type="submit">اعمال</button>
                                    </div>
                                </div>
                                <div class="subtotal-item">
                                    <div class="subtotal-item-left">
                                        <p>کرایه حمل</p>
                                    </div>
                                    <div class="subtotal-item-right">
                                        <p>1000 تومان</p>
                                    </div>
                                </div>
                            </div>
                            <div class="total-wrap">
                                <h5>مبلغ پرداخت</h5>
                            @if (Model != null && Model.Items.Count > 0)
                            {
                                <span>@Model.Total().ToString("n0")تومان</span>
                            }
                            else
                            {
                                <span>تومان 0 </span>
                            }
                            </div>
                        </div>
                        @* <div class="col-lg-12">
                            <div class="select-method">
                                <div>
                                    <input type="radio" id="test1" name="radio-group">
                                    <label for="test1">پرداخت هنگام تحویل</label>
                                </div>
                                <div>
                                    <input type="radio" id="test2" name="radio-group">
                                    <label for="test2">کارت</label>
                                </div>
                                <div>
                                    <input type="radio" id="test3" name="radio-group">
                                    <label for="test3">بررسی</label>
                                </div>
                            </div>
                        </div> *@
                        <div class="col-lg-12 mt-3">
                            <a asp-action="ShipingPayment" class="btn style1">ادامه و پرداخت</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Cart Section end -->

