@using Talakado.Application.Dtos
@model List<OrderDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_CustomerPanel.cshtml";
}


<section class="wishlist-wrap ptb-10 " style="font-size:medium !important">
    <div class="container">
        @if(Model != null && Model.Count > 0)
        {
            @foreach (var item in Model)
            {
                <section style="border:solid #F6C37F 1px;padding:25px;border-radius:10px">
            <div>
                <label class="fw-bold">شناسه سفارش : </label>
                <span>@item.Id</span>
            </div>
            <div>
                <label class="fw-bold">وضعیت سفارش : </label>
                <span>@item.OrderStatus</span>
            </div>
            <div>
                <label class="fw-bold">نحوه پرداخت : </label>
                <span>@item.PaymentMethod</span>
            </div>
            <div>
                <label class="fw-bold">وضعیت پرداخت : </label>
                <span style="color:darkgreen">@item.PaymentStatus</span>
            </div>
            <div>
                <label class="fw-bold">تاریخ سفارش : </label>
                <span>@item.OrderDate</span>
            </div>
            <div>
                <label class="fw-bold">ارسال به : </label>
                <span>@item.Address.PostalAddress</span>
            </div>
            <div>
                <label class="fw-bold">کل مبلغ پرداخت شده : </label>
                <span>@item.Price.ToString("n0")</span>
            </div>
            <div class="row gx-4">
            <div class="col-xxl-12 col-xl-12">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">موارد</th>
                                        <th scope="col">قیمت</th>
                                        <th scope="col">تعداد</th>
                                        <th scope="col">مجموع</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (item.OrderItems.Count > 0)
                                    {
                                       @foreach (var catalog in item.OrderItems)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="wh_item">
                                                        <img src="@catalog.PictureUri" alt="Image">
                                                        <a href="single-product.html">@catalog.ProductName</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="wh-tem-price">@catalog.UnitPrice.ToString("n0") تومان</p>
                                                </td>
                                                <td>
                                                    <div class="wh_qty">
                                                        <div class="product-quantity">
                                                            <span>@catalog.Units</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="wh-tem-price text-red">@{(catalog.Units * catalog.UnitPrice).ToString("n0");} تومان</p>
                                                </td>
                                            </tr>
                                        }         
                                    }
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
        </section> <br />
            }
        }
        <div class="row">
            <div class="col-sm-12 mt-20">
                <a href="shop-left-sidebar.html" class="btn style4">بازگشت به فروشگاه</a>
            </div>
        </div>
    </div>
</section>