@using Talakado.Application.BasketsService;
@model BasketDto;
@{
    Layout = null;
}

<!-- Header  Start -->
<header class="header-wrap style1">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-1 col-lg-4 col-md-4 col-5">
                <div class="logo">
                    <a href="index.html"><img src="~/theme/assets/img/logo.png" alt="Image"></a>
                </div>
            </div>
            <div class="col-xl-11 col-lg-8 col-md-8 col-7">
                <div class="header-top">
                    <div class="close-header-top xl-none">
                        <button type="button"><i class="las la-times"></i></button>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-xl-4 col-lg-12">
                            <div class="header-top-left">
                                <p class="header-promo-text">پیشنهاد زمستانی با 70% تخفیف ویژه</p>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-12 text-xl-end">
                            <div class="header-top-right">
                                <div class="contact-num">
                                    <i class="flaticon-call"></i>
                                    <a href="tel:15143214567">+1 (514) 321-4567</a>
                                </div>
                                <div class="lang_selctor">
                                    <i class="las la-globe-africa"></i>
                                    <select>
                                        <option value="1">انگلیسی</option>
                                        <option value="2">العربيّة</option>
                                        <option value="3">Arabic</option>
                                        <option value="3">Deutsch</option>
                                        <option value="3">简体中文</option>
                                    </select>
                                </div>
                                <div class="currency_selctor">
                                    <select>
                                        <option value="1">دلار</option>
                                        <option value="2">پوند</option>
                                        <option value="3">ریال</option>
                                    </select>
                                </div>
                                <div class="user-account xl-none">
                                    <img src="~/theme/assets/img/user-1.png" alt="Image">
                                    <span>اولیور اسمیت</span>
                                    <ul class="list-style">
                                        <li><a href="my-account.html">حساب کاربری</a></li>
                                        <li><a href="my-account.html">تنظیمات</a></li>
                                        <li><a href="javascript:volid(0)">خروج</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 xl-none">
                            <form action="#" class="header-search-box">
                                <select>
                                    <option>دسته بندی</option>
                                    <option value="1">حلقه</option>
                                    <option value="2">گوشواره</option>
                                    <option value="3">گردنبند</option>
                                </select>
                                <div class="search-form">
                                    <input type="search" placeholder="جستجو ..">
                                    <button type="submit">جستجو</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="header-bottom">
                    <div class="row align-items-center">
                        <div class="col-xl-5 col-lg-12 col-md-12 col-12">
                            <div class="main-menu-wrap">
                                <div class="menu-close xl-none">
                                    <a href="javascript:void(0)"><i class="las la-times"></i></a>
                                </div>
                                <div id="menu" class="text-left">
                                    <ul class="main-menu list-style">
                                        <li class="has-children">
                                            <a class="active" href="#">خانه</a>
                                            <ul class="sub-menu list-style">
                                                <li>
                                                    <a class="active" href="index.html">صفحه اصلی 1</a>
                                                </li>
                                                <li><a href="index-2.html">صفحه اصلی 2</a></li>
                                                <li><a href="index-3.html">صفحه اصلی 3</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#">مجموعه</a>
                                            <ul class="sub-menu list-style">
                                                <li>
                                                    <a href="collection.html">مجموعه برتر</a>
                                                </li>
                                                <li><a href="trending.html">مجموعه پرطرفدار</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="@Url.Action("Store", "Home")">فروشگاه</a>
                                            <ul class="sub-menu list-style megamenu">
                                                <li class="has-children  mega-has-child">
                                                    <a class="megamenu-title" href="javascript:void(0)">فروشگاه</a>
                                                    <ul class="sub-menu list-style">
                                                        <li><a href="shop-3-column.html">فروشگاه 3 ستونی</a></li>
                                                        <li><a href="shop-4-column.html">فروشگاه 4 ستونی</a></li>
                                                        <li><a href="shop-left-sidebar.html">فروشگاه سایدبار 1</a></li>
                                                        <li><a href="shop-right-sidebar.html">فروشگاه سایدبار 2</a></li>
                                                    </ul>
                                                </li>
                                                <li class="has-children  mega-has-child">
                                                    <a class="megamenu-title" href="javascript:void(0)">جزئیات محصول</a>
                                                    <ul class="sub-menu list-style">
                                                        <li><a href="single-product.html">جزئیات محصول</a></li>
                                                        <li><a href="category-2-column.html">دسته بندی 2 ستونی</a></li>
                                                        <li><a href="category-3-column.html">دسته بندی 3 ستونی</a></li>
                                                        <li><a href="category-4-column.html">دسته بندی 4 ستونی</a></li>
                                                    </ul>
                                                </li>
                                                <li class="has-children  mega-has-child">
                                                    <a class="megamenu-title" href="javascript:void(0)">کاربران </a>
                                                    <ul class="sub-menu list-style">
                                                        <li><a href="my-account.html"> حساب کاربری</a></li>
                                                        <li><a href="cart.html"> سبد خرید</a></li>
                                                        <li><a href="wishlist.html"> فهرست علاقه مندی</a></li>
                                                        <li><a href="checkout.html">بررسی محصول</a></li>
                                                    </ul>
                                                </li>
                                                <li class="lg-none">
                                                    <a href="collection.html"><img src="~/theme/assets/img/menu-img.jpg" alt="Image"></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#">صفحات</a>
                                            <ul class="sub-menu list-style">
                                                <li><a href="about.html">درباره ما</a></li>
                                                <li><a href="testimonial.html">بازخورد مشتریان</a></li>
                                                <li><a href="order-tracking.html">پیگیری سفارش</a></li>
                                                <li><a href="faq.html">سوالات متداول</a></li>
                                                <li>
                                                    <a href="privacy-policy.html">حریم خصوصی</a>
                                                </li>
                                                <li>
                                                    <a href="terms-condition.html">شرایط و ضوابط</a>
                                                </li>
                                                <li><a href="login.html">ورود کاربران</a></li>
                                                <li><a href="register.html">ثبت نام</a></li>
                                                <li><a href="forgot-pwd.html">بازیابی گذرواژه</a></li>
                                                <li><a href="404.html">خطا 404</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#">وبلاگ</a>
                                            <ul class="sub-menu list-style">
                                                <li class="has-children">
                                                    <a href="#">وبلاگ</a>
                                                    <ul class="sub-menu list-style">
                                                        <li>
                                                            <a href="blog-left-sidebar.html">وبلاگ سایدبار 1</a>
                                                        </li>
                                                        <li>
                                                            <a href="blog-right-sidebar.html">وبلاگ سایدبار 2</a>
                                                        </li>
                                                        <li>
                                                            <a href="blog-no-sidebar.html">وبلاگ شبکه ای</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-children">
                                                    <a href="#">جزئیات وبلاگ</a>
                                                    <ul class="sub-menu list-style">
                                                        <li>
                                                            <a href="blog-details-left-sidebar.html">جزئیات وبلاگ سایدبار 1</a>
                                                        </li>
                                                        <li>
                                                            <a href="blog-details-right-sidebar.html">جزئیات وبلاگ سایدبار 2</a>
                                                        </li>
                                                        <li>
                                                            <a href="blog-details-no-sidebar.html">جزئیات وبلاگ</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">تماس با ما</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mobile-bar-wrap">
                                <div class="header-bottom-right xl-none">
                                    <div class="wishlist">
                                        <i class="las la-heart"></i>
                                    </div>
                                    <div class="shopcart">
                                        <div class="cart-icon">
                                            <i class="las la-shopping-basket"></i>
                                            @if (Model != null)
                                            {
                                                <span>@Model.Items.Count</span>
                                            }
                                            else
                                            {
                                                <span>0</span>
                                            }
                                        </div>
                                        <p>1100 تومان</p>
                                    </div>
                                </div>
                                <div class="mobile-top-bar xl-none">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="mobile-menu xl-none">
                                    <a href="javascript:void(0)"><i class="las la-bars"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7  lg-none">
                            <div class="header-bottom-right">
                                <form action="#" class="header-search-box lg-none">
                                    <select>
                                        <option>دسته بندی</option>
                                        <option value="1">حلقه</option>
                                        <option value="2">گوشواره</option>
                                        <option value="3">گردنبند</option>
                                    </select>
                                    <div class="search-form">
                                        <input type="search" placeholder="جستجو ..">
                                        <button type="submit">جستجو</button>
                                    </div>
                                </form>
                                <div class="user-account">
                                    <img src="~/theme/assets/img/user-1.png" alt="Image">
                                    <span>آماندا اسمیت</span>
                                    <ul class="list-style">
                                        <li><a href="my-account.html">حساب کاربری</a></li>
                                        <li><a href="my-account.html">تنظیمات</a></li>
                                        <li><a href="javascript:volid(0)">خروج</a></li>
                                    </ul>
                                </div>
                                <div class="wishlist">
                                    <i class="las la-heart"></i>
                                </div>
                                <div class="shopcart">
                                    <div class="cart-icon">
                                        <i class="las la-shopping-basket"></i>
                                        @if (Model != null)
                                        {
                                            <span>@Model.Items.Count</span>
                                        }
                                        else
                                        {
                                            <span>0</span>
                                        }
                                    </div>
                                    @if (Model != null)
                                    {
                                        <p>@Model.Total().ToString("n0") تومان</p>
                                    }
                                    else
                                    {
                                        <p>0 تومان</p>
                                    }
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header  end -->
<!-- Cart Popup start -->
<div class="cart-popup">
    <div class="cart-popup-title">
        <h2> سبد خرید (@if (Model != null) { @Model.Items.Count}else{<span>0</span>})</h2>
        <button type="button" class="close-popup"><i class="las la-times"></i></button>
    </div>
    <div class="cart-popup-item-wrap">
        @if (Model != null)
        {
            @foreach (var item in Model.Items)
            {
                <div class="cart-popup-item">
                    <div class="cart-popup-item-img">
                        <img src="@item.ImageUrl" alt="@item.CatalogName">
                    </div>
                    <div class="cart-popup-item-name">
                        <p>@item.CatalogName</p>
                        <div class="product-quantity">
                            <div class="qtySelector">
                                <span class="las la-minus decreaseQty"></span>
                                <input type="text" class="qtyValue" value="@item.Quantity" />
                                <span class="las la-plus increaseQty"></span>
                            </div>
                        </div>
                    </div>
                    <div class="cart-popup-item-price">
                        <button type="button"><i class="las la-times"></i></button>
                        <span>@item.UnitPrice.ToString("n0") تومان</span>
                    </div>
                </div>
            }
        }
    </div>
    <div class="cart-popup-total-wrap">
        <div class="cart-popup-total">
            <h5>مجموع</h5>
            <h5>@if (Model != null)
                {
                    @Model.Total().ToString("n0")
                }
                else
                {
                    <span>0</span>
                } تومان</h5>
        </div>
        <a href="cart.html" class="btn style4">سبد خرید</a>
        <a href="checkout.html" class="btn style1">بررسی محصول</a>
    </div>
</div>
