@using Talakado.Web.Models.ViewComponents
@model HeaderDto;
@{
    Layout = null;
}

<!-- Header  Start -->
<header class="header-wrap style1">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-1 col-lg-4 col-md-4 col-5">
                <div class="logo">
                    <a href="index.html"><img src="~/theme/assets/img/logo.png" alt="Image"></a>
                </div>
            </div>
            <div class="col-xl-11 col-lg-8 col-md-8 col-7">
                <div class="header-top">
                    <div class="close-header-top xl-none">
                        <button type="button"><i class="las la-times"></i></button>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-xl-4 col-lg-12">
                            <div class="header-top-left">
                                <p class="header-promo-text">
                                    @if (Model != null && Model.IsShowAdvertisePhrase)
                                    {
                                        @Model.AdvertisePhrase
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-12 text-xl-end">
                            <div class="header-top-right">
                                @if(Model != null && Model.PhoneNumber != null && Model.PhoneNumber.IsShow)
                                {
                                    <div class="contact-num">
                                        <i class="flaticon-call"></i>
                                        <a href="tel:@Model.PhoneNumber.Value">@Model.PhoneNumber.Value</a>
                                    </div>
                                }
                                <div class="lang_selctor">
                                    <i class="las la-globe-africa"></i>
                                    <select>
                                        <option value="1">فارسی</option>
                                        <option value="2">العربيّة</option>
                                        <option value="3">English</option>
                                        @* <option value="3">Deutsch</option>
                                        <option value="3">简体中文</option> *@
                                    </select>
                                </div>
                                @* <div class="currency_selctor">
                                    <select>
                                        <option value="1">دلار</option>
                                        <option value="2">پوند</option>
                                        <option value="3">ریال</option>
                                    </select>
                                </div> *@
                                @if (Model.IsUserAuthenticated)
                                {
                                <div class="user-account xl-none mb-5">
                                    <img src="~/images/no-image.png" alt="Image">
                                        <span class="link "> @Model.UserFullName</span>
                                    <ul class="list-style">
                                        <li><a href="my-account.html">حساب کاربری</a></li>
                                        <li><a href="my-account.html">تنظیمات</a></li>
                                        <li><a href="javascript:volid(0)">خروج</a></li>
                                    </ul>
                                </div>
                                }
                                else
                                {
                                    <div class="xl-none mb-5"><a href="forgot-pwd.html" class="link style2">ورود یا ثبت نام</a></div>
                                }
                            </div>
                        </div>
                        <div class="col-lg-12 xl-none">
                            <form action="#" class="header-search-box">
                                <select>
                                    <option>دسته بندی</option>
                                    @if (Model != null && Model.catalogTypeLists.Count > 0)
                                    {
                                        foreach (var item in Model.catalogTypeLists)
                                        {
                                            <option value="@item.Id">@item.Type</option>
                                        }
                                    }
                                </select>
                                <div class="search-form">
                                    <input type="search" placeholder="جستجو ..">
                                    <button type="submit">جستجو</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="header-bottom">
                    <div class="row align-items-center">
                        <div class="col-xl-5 col-lg-12 col-md-12 col-12">
                            <div class="main-menu-wrap">
                                <div class="menu-close xl-none">
                                    <a href="javascript:void(0)"><i class="las la-times"></i></a>
                                </div>
                                <div id="menu" class="text-left">
                                    <ul class="main-menu list-style">
                                        <li>
                                            <a class="active" href="index-2.html">خانه</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Product")">فروشگاه</a>
                                        </li>
                                        <li class="has-children">
                                            <a href="#">صفحات</a>
                                            <ul class="sub-menu list-style">
                                                <li><a href="about.html">درباره ما</a></li>
                                                <li><a href="testimonial.html">بازخورد مشتریان</a></li>
                                                <li><a href="order-tracking.html">پیگیری سفارش</a></li>
                                                <li><a href="faq.html">سوالات متداول</a></li>
                                                <li>
                                                    <a href="terms-condition.html">شرایط و ضوابط</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">وبلاگ</a>
                                        </li>
                                        <li><a href="contact.html">تماس با ما</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mobile-bar-wrap">
                                <div class="header-bottom-right xl-none">
                                    <div class="wishlist">
                                        <i class="las la-heart"></i>
                                    </div>
                                    <div class="shopcart">
                                        <div class="cart-icon">
                                            <i class="las la-shopping-basket"></i>
                                            @if (Model != null && Model.Basket != null)
                                            {
                                                <span>@Model.Basket.Items.Count</span>
                                            }
                                            else
                                            {
                                                <span>0</span>
                                            }
                                        </div>
                                        @if (Model != null && Model.Basket != null)
                                        {
                                            <p>@Model.Basket.Total().ToString("n0") تومان</p>
                                        }
                                        else
                                        {
                                            <p>0 تومان</p>
                                        }
                                    </div>
                                </div>
                                <div class="mobile-top-bar xl-none">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="mobile-menu xl-none">
                                    <a href="javascript:void(0)"><i class="las la-bars"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7  lg-none">
                            <div class="header-bottom-right">
                                <form action="#" class="header-search-box lg-none">
                                    <select>
                                        <option>دسته بندی</option>
                                        @if(Model != null && Model.catalogTypeLists.Count >0)
                                        {
                                            foreach (var item in Model.catalogTypeLists)
                                            {
                                                <option value="@item.Id">@item.Type</option>
                                            }
                                        }
                                    </select>
                                    <div class="search-form">
                                        <input type="search" placeholder="جستجو ..">
                                        <button type="submit">جستجو</button>
                                    </div>
                                </form>
                                @if (Model.IsUserAuthenticated)
                                {
                                    <div class="user-account">
                                        <img src="~/images/no-image.png" alt="Image">
                                        <span class="link">
                                            @Model.UserFullName
                                        </span>
                                        <ul class="list-style">
                                            <li><a href="my-account.html">حساب کاربری</a></li>
                                            <li><a href="my-account.html">تنظیمات</a></li>
                                            <li><a href="javascript:volid(0)">خروج</a></li>
                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    <div class="ms-5"><a href="forgot-pwd.html" class="link style2">ورود یا ثبت نام</a></div>
                                }

                                <div class="wishlist">
                                    <i class="las la-heart"></i>
                                </div>
                                <div class="shopcart">
                                    <div class="cart-icon">
                                        <i class="las la-shopping-basket"></i>
                                        @if (Model != null && Model.Basket != null)
                                        {
                                            <span>@Model.Basket.Items.Count</span>
                                        }
                                        else
                                        {
                                            <span>0</span>
                                        }
                                    </div>
                                    @if (Model != null && Model.Basket != null)
                                    {
                                        <p>@Model.Basket.Total().ToString("n0") تومان</p>
                                    }
                                    else
                                    {
                                        <p>0 تومان</p>
                                    }
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header  end -->
<!-- Cart Popup start -->
<div class="cart-popup">
    <div class="cart-popup-title">
        <h2>
            سبد خرید (@if (Model != null && Model.Basket != null)
            {
                @Model.Basket.Items.Count
            }
            else
            {
                <span>0</span>
            })</h2>
        <button type="button" class="close-popup"><i class="las la-times"></i></button>
    </div>
    <div class="cart-popup-item-wrap">
        @if (Model != null && Model.Basket != null)
        {
            @foreach (var item in Model.Basket.Items)
            {
                <div class="cart-popup-item">
                    <div class="cart-popup-item-img">
                        <img src="@item.ImageUrl" alt="@item.CatalogName">
                    </div>
                    <div class="cart-popup-item-name">
                        <p>@item.CatalogName</p>
                        <div class="product-quantity">
                            <div class="qtySelector">
                                <span class="las la-minus decreaseQty"></span>
                                <input type="text" class="qtyValue" value="@item.Quantity" />
                                <span class="las la-plus increaseQty"></span>
                            </div>
                        </div>
                    </div>
                    <div class="cart-popup-item-price">
                        <button type="button"><i class="las la-times"></i></button>
                        <span>@item.UnitPrice.ToString("n0") تومان</span>
                    </div>
                </div>
            }
        }
    </div>
    <div class="cart-popup-total-wrap">
        <div class="cart-popup-total">
            <h5>مجموع</h5>
            <h5>@if (Model != null && Model.Basket != null)
                {
                    @Model.Basket.Total().ToString("n0")
                }
                else
                {
                    <span>0</span>
                } تومان</h5>
        </div>
        <a href="cart.html" class="btn style4">سبد خرید</a>
        <a href="checkout.html" class="btn style1">بررسی محصول</a>
    </div>
</div>
