@page
@model Talakado.AdminPanel.Pages.Personels.IndexModel
@{
    ViewData["Title"] = "نمایش افراد";
}

<table class="table table-bordered" >
    <tr>
        <th width="5%">ردیف</th>
        <th width="10%">نام فرد</th>
        <th width="15%">عکس فرد</th>
        <th width="15%">شغل فرد</th>
        <th width="5%">نمایش</th>
        <th>توصیف فرد</th>
        <th width="10%">عملیات</th>
    </tr>
    @if (Model.Personels != null && Model.Personels.Count>0)
    {
        var i = 0;
        @foreach (var item in Model.Personels)
        {
            i++;
            <tr>
                <td>@i</td>
                <td>@item.Name</td>
                <td><img src="@item.ImageAddress" width="50px" height="50px" /></td>
                <td>@item.Job</td>
                <td>@{
                        if (item.IsShowAsOurTeam)
                        {
                            <input type="checkbox" disabled value="@item.IsShowAsOurTeam.ToString()" checked="checked" />
                        }
                        else
                        {
                            <input type="checkbox" disabled value="@item.IsShowAsOurTeam.ToString()" />
                        }
                    }
                </td>
                <td>@item.Description</td>
                <td>
                    <img class="btn btn_edit" width="50px" title="ویرایش" src="~/image/EditButton.png" />
                    <img class="btn btn_delete" width="50px" title="حذف" src="~/image/OIP.jfif" />
                    <input type="hidden" value="@item.Id" />
                </td>
            </tr>
        }
    }
</table>


<!--edit modal -->

<div class="modal edit_modal" tabindex="-1">
    <form method="post" asp-page-handler="EditPersonel" asp-asp-antiforgery="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:lightgray">
                <h5 class="modal-title" style="font-weight:bold">ویرایش اطلاعات افراد</h5>
                @* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
            </div>
            <div class="modal-body">
                <div>
                    <label>نام فرد</label>
                    <input type="text" id="personel_name" class="form-control" value="" />
                </div>
                <div>
                    <label>عکس فرد</label>
                    <input type="file" id="personel_image" class="" style="display:inline" />
                    <img src="" id="personel_image_show" width="50px" height="50px" class="" style="margin-top:10px" />
                </div>
                <div>
                    <label>شغل فرد</label>
                    <input type="text" id="personel_job" class="form-control" value="" />
                </div>
                <div>
                    <label>نمایش داده شود</label>
                    <input type="checkbox" id="personel_isShow" class="" value="" style="margin-top:20px;margin-bottom:20px" />
                </div>
                <div>
                    <label>توصیف فرد</label>
                    <textarea id="personel_description" class="form-control" rows="5"></textarea>   
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal-btn-close" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                <button type="button" id="modal-btn-edit" class="btn btn-primary">اعمال تغییرات</button>
                <input type="hidden" id="personel_id" value="" />
            </div>
        </div>
    </div>
    </form>
</div>

<!-- end modal -->

@section Scripts {
    <script>
        $('.btn_edit').click(function () {
            var id = this.parentElement.children[2].getAttribute("value");
            var name = this.parentElement.parentElement.children[1].innerText;
            var image = this.parentElement.parentElement.children[2].children[0].getAttribute("src");
            var job = this.parentElement.parentElement.children[3].innerText;
            var isShow = this.parentElement.parentElement.children[4].children[0].getAttribute("value");
            var description = this.parentElement.parentElement.children[5].innerText;

            $('#personel_id').val(id);
            $('#personel_name').val(name);
            $('#personel_image_show').attr("src", image);
            $('#personel_job').val(job);
            if (isShow === "True") {
                $('#personel_isShow').prop("checked", true);
            } else {
                $('#personel_isShow').prop("checked", false);
            }
            $('#personel_description').text(description);
 
            $('.edit_modal').modal("show");
        })

        $('#modal-btn-close').click(function(){
            $('.edit_modal').modal("hide");
        });

        $('#modal-btn-edit').click(function () {
            var data = new FormData();
            var image = document.getElementById("personel_image")
            if (image.files.length > 0) {
                data.append("image", image.files[0])
            }
            data.append("Id", $('#personel_id').val())
            data.append("Name", $('#personel_name').val())
            data.append("Job", $('#personel_job').val())
            data.append("IsShow", $('#personel_isShow').is(':checked'))
            data.append("Description", $('#personel_description').text())

            //ارسال به سرور با ای جکس
            var ajaxRequest = $.ajax({
                type: "post",
                contentType: false,
                processData: false,
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                url: "./index?handler=EditPersonel",
                data: data,
                success: function (result) {
                    $('.edit_modal').modal("hide");
                    if (result === "true") {
                        swal.fire(
                            'پیام موفقیت!',
                            'ویرایش با موفقیت انجام شد',
                            'success'
                                ).then((result) => {
                                  if (result.isConfirmed) {
                                    location.reload()
                                  }
                                });
                        
                    } else {
                        swal.fire(
                            'پیام هشدار!',
                            "عملیات ویرایش انجام نشد ",
                            'Error'
                        );
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
            
        });

        $('.btn_delete').click(function(){
            var tr = this.parentElement.parentElement;
            var id = this.parentElement.children[2].getAttribute("value");
            Swal.fire({
              title: 'آیا از حذف فرد اطمینان دارید؟',
              showDenyButton: true,
              showCancelButton: false,
              confirmButtonText: 'بله، حذف کن',
              denyButtonText: 'خیر',
            }).then((result) => {
              if (result.isConfirmed) {

                   //ارسال به سرور با ای جکس
                    var ajaxRequest = $.ajax({
                type: "post",
                // contentType: false,
                // processData: false,
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                url: "./index?handler=DeletePersonel",
                data: {"id":id},
                success: function (result) {
                    if (result === "true") {
                        swal.fire(
                            'پیام موفقیت!',
                            'حذف فرد با موفقیت انجام شد',
                            'success'
                                ).then((result) => {
                                  if (result.isConfirmed) {
                                      tr.remove();
                                  }
                                });

                    } else {
                        swal.fire(
                            'پیام هشدار!',
                            "عملیات حذف انجام نشد ",
                            'Error'
                        );
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });

                    //Swal.fire('Saved!', '', 'success')
              }
            })
        })
    </script>
}