@page
@model Talakado.AdminPanel.Pages.Personels.IndexModel
@{
    ViewData["Title"] = "نمایش افراد";
}

<table class="table table-bordered" >
    <tr>
        <th width="5%">ردیف</th>
        <th width="10%">نام فرد</th>
        <th width="15%">عکس فرد</th>
        <th width="15%">شغل فرد</th>
        <th width="5%">نمایش</th>
        <th>توصیف فرد</th>
        <th width="10%">عملیات</th>
    </tr>
    @if (Model.Personels != null && Model.Personels.Count>0)
    {
        var i = 0;
        @foreach (var item in Model.Personels)
        {
            i++;
            <tr>
                <td>@i</td>
                <td>@item.Name</td>
                <td><img src="@item.ImageAddress" width="50px" height="50px" /></td>
                <td>@item.Job</td>
                <td><input type="checkbox" value="@item.IsShowAsOurTeam" /></td>
                <td>@item.Description</td>
                <td>
                    <img id="btn_edit" class="btn" width="50px" title="ویرایش" src="~/image/EditButton.png" />
                    <img id="btn_delete" class="btn" width="50px" title="حذف" src="~/image/OIP.jfif" />
                    <input type="hidden" id="id" value="@item.Id" />
                </td>
            </tr>
        }
    }
</table>


@section Scripts {
    <script>
        $('#btn_edit').click(function () {
            console.log(this.parentElement.parentElement.children[0].innerHTML)
        })
    </script>
}