@model Talakado.Web.Models.Home.HomePageViewmodel;
@{
    ViewData["Title"] = "صفحه اصلی";
}

<!-- Hero section start -->
@* <div class="hero-wrap style2">
    <div class="container-fluid"> *@
<div class="row px-0 mx-0">
            <div class="col-md-12">
                <div dir="rtl" class="hero-slider-two swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="hero-slider-item style2  bg-black">
                                <div class="hero-shape-1">
                                    <img src="~/theme/assets/img/hero/hero-shape-3.png" alt="Image">
                                </div>
                                <div class="hero-shape-2">
                                    <img src="~/theme/assets/img/hero/hero-shape-3.png" alt="Image">
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="hero-content">
                                                <div class="hero-text">
                                            @Html.Raw(Model.Slide1?.SlideText)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hero-img">
                                        <img src="@Model.Slide1?.ImageAddress" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="hero-slider-item style2  bg-black">
                                <div class="hero-shape-1">
                                    <img src="~/theme/assets/img/hero/hero-shape-3.png" alt="Image">
                                </div>
                                <div class="hero-shape-2">
                                    <img src="~/theme/assets/img/hero/hero-shape-3.png" alt="Image">
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="hero-content">
                                                <div class="hero-text">
                                            @Html.Raw(Model.Slide2?.SlideText)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hero-img">
                                        <img src="@Model.Slide2?.ImageAddress" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="hero-slider-item style2  bg-black">
                                <div class="hero-shape-1">
                                    <img src="~/theme/assets/img/hero/hero-shape-3.png" alt="Image">
                                </div>
                                <div class="hero-shape-2">
                                    <img src="~/theme/assets/img/hero/hero-shape-3.png" alt="Image">
                                </div>
                                <div class="container">
                                    <div class="hero-img">
                                <img src="@Model.Slide3?.ImageAddress" alt="Image">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="hero-content">
                                                <div class="hero-text">
                                                    @Html.Raw(Model.Slide3?.SlideText)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="hero-two-pagination slider-pagination style5"></div>
                    </div>
                </div>
            </div>
        </div>
@*     </div>
</div> *@
<!-- Hero section end -->
<!-- Feature Product start -->
<div class="feature-item-wrap mt-25 pb-75">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4">
                <div class="hero-product-box-wrap style2 row">
                    <div class="col-xl-12 col-lg-6 col-md-6">
                        <div class="hero-product-box style3 bg-linen">
                            <div class="hero-product-info">
                                <ul class="ratings style1 list-style">
                                    <li class="rated"><i class="las la-star"></i></li>
                                    <li class="rated"><i class="las la-star"></i></li>
                                    <li class="rated"><i class="las la-star"></i></li>
                                    <li class="rated"><i class="las la-star"></i></li>
                                    <li class="non-rated"><i class="las la-star"></i></li>
                                </ul>
                                <h4 class="product-name"><a class="text-black" href="shop-left-sidebar.html">دستبند طلا</a></h4>
                                <div class="product-price"><span class="text-sienna">1100 تومان</span><span class="discount">2100 تومان</span></div>
                                <p class="product-promo-text">
                                    پیشنهاد زمستانی با 70% تخفیف ویژه
                                </p>
                                <a href="shop-left-sidebar.html" class="link style1">اکنون بخرید<i class="las la-angle-double-left"></i></a>
                            </div>
                            <div class="hero-product-img">
                                <img src="~/theme/assets/img/featured/feature-item-12.jpg" alt="Image">
                                <span class="discount-tag">%25-</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-6 col-md-6">
                        <div class="hero-product-box style3 bg-brook">
                            <div class="hero-product-info">
                                <ul class="ratings style1 list-style">
                                    <li class="rated"><i class="las la-star"></i></li>
                                    <li class="rated"><i class="las la-star"></i></li>
                                    <li class="rated"><i class="las la-star"></i></li>
                                    <li class="rated"><i class="las la-star"></i></li>
                                    <li class="non-rated"><i class="las la-star"></i></li>
                                </ul>
                                <h4 class="product-name"><a href="shop-left-sidebar.html">گوشواره الماس</a></h4>
                                <div class="product-price">1100 تومان<span class="discount">2100 تومان</span></div>
                                <p class="product-promo-text">
                                    پیشنهاد زمستانی با 70% تخفیف ویژه
                                </p>
                                <a href="shop-left-sidebar.html" class="link style1">اکنون بخرید<i class="las la-angle-double-left"></i></a>
                            </div>
                            <div class="hero-product-img">
                                <img src="~/theme/assets/img/featured/feature-item-15.jpg" alt="Image">
                                <span class="discount-tag">%15-</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="hero-product-box style4 bg-f" style="background-image: url(@Model.BannerImage);">
                    <div class="hero-product-info">
                        <span class="discount-tag">%25-</span>
                        <ul class="ratings style1 list-style">
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="non-rated"><i class="las la-star"></i></li>
                        </ul>
                        <h4 class="product-name"><a class="text-black" href="shop-left-sidebar.html">گردنبند الماس</a></h4>
                        <div class="product-price"><span class="text-sienna">1100 تومان</span><span class="discount">2100 تومان</span></div>
                        <p class="product-promo-text">
                            پیشنهاد زمستانی با 70% تخفیف ویژه
                        </p>
                        <a href="shop-left-sidebar.html" class="link style1">اکنون بخرید<i class="las la-angle-double-left"></i></a>
                    </div>
                    <div class="hero-bg-img bg-f">
                        @* <img src="~/theme/assets/img/hero/hero-100.png" alt="Image"> *@
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="hero-product-box-wrap style2 row">
                    <div class="col-xl-12 col-lg-6 col-md-6">
                        <div class="hero-product-box style3 bg-linen">
                            <div class="hero-product-info">
                                <ul class="ratings style1 list-style">
                                    <li class="rated"><i class="las la-star"></i></li>
                                    <li class="rated"><i class="las la-star"></i></li>
                                    <li class="rated"><i class="las la-star"></i></li>
                                    <li class="rated"><i class="las la-star"></i></li>
                                    <li class="non-rated"><i class="las la-star"></i></li>
                                </ul>
                                <h4 class="product-name"><a class="text-black" href="shop-left-sidebar.html">حلقه الماس</a></h4>
                                <div class="product-price"><span class="text-sienna">1100 تومان</span><span class="discount">2100 تومان</span></div>
                                <p class="product-promo-text">
                                    پیشنهاد زمستانی با 70% تخفیف ویژه
                                </p>
                                <a href="shop-left-sidebar.html" class="link style1">اکنون بخرید<i class="las la-angle-double-left"></i></a>
                            </div>
                            <div class="hero-product-img">
                                <img src="~/theme/assets/img/featured/feature-item-16.jpg" alt="Image">
                                <span class="discount-tag">%15-</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-6 col-md-6">
                        <div class="hero-product-box style3 bg-brook">
                            <div class="hero-product-info">
                                <ul class="ratings style1 list-style">
                                    <li class="rated"><i class="las la-star"></i></li>
                                    <li class="rated"><i class="las la-star"></i></li>
                                    <li class="rated"><i class="las la-star"></i></li>
                                    <li class="rated"><i class="las la-star"></i></li>
                                    <li class="non-rated"><i class="las la-star"></i></li>
                                </ul>
                                <h4 class="product-name"><a href="shop-left-sidebar.html">گردنبند زمرد</a></h4>
                                <div class="product-price">1100 تومان</div>
                                <p class="product-promo-text">
                                    پیشنهاد زمستانی با 70% تخفیف ویژه
                                </p>
                                <a href="shop-left-sidebar.html" class="link style1">اکنون بخرید<i class="las la-angle-double-left"></i></a>
                            </div>
                            <div class="hero-product-img">
                                <img src="~/theme/assets/img/featured/feature-item-13.jpg" alt="Image">
                                <span class="discount-tag">%0-</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature Product end -->
<!-- Category Section start -->
<section class="category-wrap pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                <div class="section-title style3 text-center mb-40">
                    <h2 class="text-black">کاتالوگ جواهرات</h2>
                    <p>پیشنهاد زمستانی با 75% تخفیف ویژه</p>
                    <div class="section-seperator">
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="category-item-wrap">
                    @if (Model.CatalogTypes.Count > 0)
                    {
                        foreach (var item in Model.CatalogTypes)
                        {
                            <div class="category-item style2">
                                <div class="category-img">
                                    <img src="@item.ImageAddress" alt="Image">
                                </div>
                                <div class="cat-info">
                                    <h4><a href="shop-left-sidebar.html">@item.Name</a></h4>
                                    <span>(@item.ItemCount مورد)</span>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Category Section end -->
<!-- Best Selling Item Section start -->
<section class="product-wrap pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                <div class="section-title style3 text-center mb-40">
                    <h2 class="text-black">محصولات ویژه</h2>
                    <p>پیشنهاد زمستانی با 75% تخفیف ویژه</p>
                    <div class="section-seperator">
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="product-card style2">
                    <div class="product-img">
                        <img src="~/theme/assets/img/product/product-15.png" alt="Image">
                        <div class="product-option">
                            <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                            <button class="add-to-wishlist" type="button">
                                <i class="lar la-heart"></i>
                            </button>
                            <button class="add-to-cart" type="button">
                                <i class="las la-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-info">
                        <h4 class="product-name"><a class="text-black" href="single-product.html">حلقه زمرد</a></h4>
                        <p class="product-promo-text">
                            موجود در انبار و نسخه کمیاب
                        </p>
                        <div class="product-price">
                            <span class="text-sienna">1100 تومان</span> <span class="discount">2100 تومان</span>
                        </div>
                        <ul class="ratings style1 list-style">
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="product-card style2">
                    <div class="product-img">
                        <img src="~/theme/assets/img/product/product-16.png" alt="Image">
                        <div class="product-option">
                            <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                            <button class="add-to-wishlist" type="button">
                                <i class="lar la-heart"></i>
                            </button>
                            <button class="add-to-cart" type="button">
                                <i class="las la-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-info">
                        <h4 class="product-name"><a class="text-black" href="single-product.html">حلقه الماس </a></h4>
                        <p class="product-promo-text">
                            موجود در انبار و نسخه کمیاب
                        </p>
                        <div class="product-price">
                            <span class="text-sienna">1100 تومان</span>
                        </div>
                        <ul class="ratings style1 list-style">
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="non-rated"><i class="las la-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="product-card style2">
                    <div class="product-img">
                        <img src="~/theme/assets/img/product/product-17.png" alt="Image">
                        <div class="product-option">
                            <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                            <button class="add-to-wishlist" type="button">
                                <i class="lar la-heart"></i>
                            </button>
                            <button class="add-to-cart" type="button">
                                <i class="las la-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-info">
                        <h4 class="product-name"><a class="text-black" href="single-product.html">حلقه طلا</a></h4>
                        <p class="product-promo-text">
                            موجود در انبار و نسخه کمیاب
                        </p>
                        <div class="product-price">
                            <span class="text-sienna">1100 تومان</span> <span class="discount">2100 تومان</span>
                        </div>
                        <ul class="ratings style1 list-style">
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="non-rated"><i class="las la-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="product-card style2">
                    <div class="product-img">
                        <img src="~/theme/assets/img/product/product-18.png" alt="Image">
                        <div class="product-option">
                            <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                            <button class="add-to-wishlist" type="button">
                                <i class="lar la-heart"></i>
                            </button>
                            <button class="add-to-cart" type="button">
                                <i class="las la-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-info">
                        <h4 class="product-name"><a class="text-black" href="single-product.html">حلقه ازدواج</a></h4>
                        <p class="product-promo-text">
                            موجود در انبار و نسخه کمیاب
                        </p>
                        <div class="product-price">
                            <span class="text-sienna">1100 تومان</span> <span class="discount">2100 تومان</span>
                        </div>
                        <ul class="ratings style1 list-style">
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="product-card style2">
                    <div class="product-img">
                        <img src="~/theme/assets/img/product/product-19.png" alt="Image">
                        <div class="product-option">
                            <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                            <button class="add-to-wishlist" type="button">
                                <i class="lar la-heart"></i>
                            </button>
                            <button class="add-to-cart" type="button">
                                <i class="las la-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-info">
                        <h4 class="product-name"><a class="text-black" href="single-product.html">گردنبند سنگ</a></h4>
                        <p class="product-promo-text">
                            موجود در انبار و نسخه کمیاب
                        </p>
                        <div class="product-price">
                            <span class="text-sienna">1100 تومان</span>
                        </div>
                        <ul class="ratings style1 list-style">
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="non-rated"><i class="las la-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="product-card style2">
                    <div class="product-img">
                        <img src="~/theme/assets/img/product/product-20.png" alt="Image">
                        <div class="product-option">
                            <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                            <button class="add-to-wishlist" type="button">
                                <i class="lar la-heart"></i>
                            </button>
                            <button class="add-to-cart" type="button">
                                <i class="las la-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-info">
                        <h4 class="product-name"><a class="text-black" href="single-product.html">گوشواره زمرد</a></h4>
                        <p class="product-promo-text">
                            موجود در انبار و نسخه کمیاب
                        </p>
                        <div class="product-price">
                            <span class="text-sienna">1100 تومان</span> <span class="discount">2100 تومان</span>
                        </div>
                        <ul class="ratings style1 list-style">
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="non-rated"><i class="las la-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="product-card style2">
                    <div class="product-img">
                        <img src="~/theme/assets/img/product/product-31.png" alt="Image">
                        <div class="product-option">
                            <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                            <button class="add-to-wishlist" type="button">
                                <i class="lar la-heart"></i>
                            </button>
                            <button class="add-to-cart" type="button">
                                <i class="las la-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-info">
                        <h4 class="product-name"><a class="text-black" href="single-product.html">دستبند طلا</a></h4>
                        <p class="product-promo-text">
                            موجود در انبار و نسخه کمیاب
                        </p>
                        <div class="product-price">
                            <span class="text-sienna">1100 تومان</span> <span class="discount">2100 تومان</span>
                        </div>
                        <ul class="ratings style1 list-style">
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="product-card style2">
                    <div class="product-img">
                        <img src="~/theme/assets/img/product/product-32.png" alt="Image">
                        <div class="product-option">
                            <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                            <button class="add-to-wishlist" type="button">
                                <i class="lar la-heart"></i>
                            </button>
                            <button class="add-to-cart" type="button">
                                <i class="las la-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-info">
                        <h4 class="product-name"><a class="text-black" href="single-product.html">گوشواره مروارید</a></h4>
                        <p class="product-promo-text">
                            موجود در انبار و نسخه کمیاب
                        </p>
                        <div class="product-price">
                            <span class="text-sienna">1100 تومان</span> <span class="discount">2100 تومان</span>
                        </div>
                        <ul class="ratings style1 list-style">
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-30">
            <div class="col-md-12 text-center">
                <a href="shop-left-sidebar.html" class="btn style4">مشاهده بیشتر</a>
            </div>
        </div>
    </div>
</section>
<!-- Best Selling Item Section end -->
<!-- Feature Product Category Section start -->
<section class="feature-category pb-75">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-12">
                <div class="feature-cat-item style3 bg-f bg-linen td-aztech">
                    <div class="feature-cat-img">
                        <img src="~/theme/assets/img/featured/feature-cat-img.png" alt="Image">
                        <div class="deal-countdown style3">
                            <div class="countdown text-center" data-countdown="2022/12/11"></div>
                        </div>
                    </div>
                    <div class="feature-text">
                        <ul class="ratings style1 list-style">
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="non-rated"><i class="las la-star"></i></li>
                        </ul>
                        <h4 class="product-name"><a class="text-black" href="shop-left-sidebar.html">گوشواره طلایی منحصر به فرد با سنگ های قیمتی</a></h4>
                        <div class="product-price"><span class="text-sienna">1100 تومان</span><span class="discount">2100 تومان</span></div>
                        <a href="single-product.html" class="btn style1"><i class="las la-shopping-basket"></i> افزودن به سبد</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12">
                <div class="feature-cat-item style4 bg-f  feature-bg-3">
                    <div class="grad_overlay two"></div>
                    <div class="feature-text">
                        <h3 class="text-white">
                            فروش ویژه
                        </h3>
                        <span class="text-rajah">%25 تخفیف ویژه</span>
                        <a href="#" class="link style3">اکنون بخرید<i class="las la-angle-double-left"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature Product Category Section end -->
<!-- Best Selling Item Section start -->
<section class="product-wrap  pb-75">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                <div class="section-title style1 text-center mb-40">
                    <h2 class="text-black">محصولات جدید</h2>
                    <p>پیشنهاد زمستانی با 75% تخفیف ویژه</p>
                    <div class="section-seperator">
                        <img src="~/theme/assets/img/dimond.png" alt="Image">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="product-slider-wrap">
                <div dir="rtl" class="product-slider-one swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="product-card style1">
                                <div class="product-img">
                                    <img src="~/theme/assets/img/product/product-9.png" alt="Image">
                                    <div class="product-option">
                                        <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                                        <button class="add-to-wishlist" type="button">
                                            <i class="lar la-heart"></i>
                                        </button>
                                        <button class="add-to-cart" type="button">
                                            <i class="las la-shopping-cart"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h4 class="product-name"><a class="text-black" href="single-product.html">حلقه زمرد</a></h4>
                                    <p class="product-promo-text">
                                        موجود در انبار و نسخه کمیاب
                                    </p>
                                    <div class="product-price">
                                        <span class="text-sienna">1100 تومان</span> <span class="discount">2100 تومان</span>
                                    </div>
                                    <ul class="ratings style1 list-style">
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="rated"><i class="las la-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-card style1">
                                <div class="product-img">
                                    <img src="~/theme/assets/img/product/product-10.png" alt="Image">
                                    <div class="product-option">
                                        <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                                        <button class="add-to-wishlist" type="button">
                                            <i class="lar la-heart"></i>
                                        </button>
                                        <button class="add-to-cart" type="button">
                                            <i class="las la-shopping-cart"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h4 class="product-name"><a class="text-black" href="single-product.html">حلقه الماس</a></h4>
                                    <p class="product-promo-text">
                                        موجود در انبار و نسخه کمیاب
                                    </p>
                                    <div class="product-price">
                                        <span class="text-sienna">1100 تومان</span>
                                    </div>
                                    <ul class="ratings style1 list-style">
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="non-rated"><i class="las la-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-card style1">
                                <div class="product-img">
                                    <img src="~/theme/assets/img/product/product-11.png" alt="Image">
                                    <div class="product-option">
                                        <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                                        <button class="add-to-wishlist" type="button">
                                            <i class="lar la-heart"></i>
                                        </button>
                                        <button class="add-to-cart" type="button">
                                            <i class="las la-shopping-cart"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h4 class="product-name"><a class="text-black" href="single-product.html">حلقه طلا</a></h4>
                                    <p class="product-promo-text">
                                        موجود در انبار و نسخه کمیاب
                                    </p>
                                    <div class="product-price">
                                        <span class="text-sienna">1100 تومان</span> <span class="discount">2100 تومان</span>
                                    </div>
                                    <ul class="ratings style1 list-style">
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="non-rated"><i class="las la-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-card style1">
                                <div class="product-img">
                                    <img src="~/theme/assets/img/product/product-14.png" alt="Image">
                                    <div class="product-option">
                                        <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                                        <button class="add-to-wishlist" type="button">
                                            <i class="lar la-heart"></i>
                                        </button>
                                        <button class="add-to-cart" type="button">
                                            <i class="las la-shopping-cart"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h4 class="product-name"><a class="text-black" href="single-product.html">حلقه ازدواج</a></h4>
                                    <p class="product-promo-text">
                                        موجود در انبار و نسخه کمیاب
                                    </p>
                                    <div class="product-price">
                                        <span class="text-sienna">1100 تومان</span>
                                    </div>
                                    <ul class="ratings style1 list-style">
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="non-rated"><i class="las la-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-card style1">
                                <div class="product-img">
                                    <img src="~/theme/assets/img/product/product-12.png" alt="Image">
                                    <div class="product-option">
                                        <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                                        <button class="add-to-wishlist" type="button">
                                            <i class="lar la-heart"></i>
                                        </button>
                                        <button class="add-to-cart" type="button">
                                            <i class="las la-shopping-cart"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h4 class="product-name"><a class="text-black" href="single-product.html">گردنبند سنگ</a></h4>
                                    <p class="product-promo-text">
                                        موجود در انبار و نسخه کمیاب
                                    </p>
                                    <div class="product-price">
                                        <span class="text-sienna">1100 تومان</span> <span class="discount">2100 تومان</span>
                                    </div>
                                    <ul class="ratings style1 list-style">
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="rated"><i class="las la-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-card style1">
                                <div class="product-img">
                                    <img src="~/theme/assets/img/product/product-15.png" alt="Image">
                                    <div class="product-option">
                                        <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                                        <button class="add-to-wishlist" type="button">
                                            <i class="lar la-heart"></i>
                                        </button>
                                        <button class="add-to-cart" type="button">
                                            <i class="las la-shopping-cart"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h4 class="product-name"><a class="text-black" href="single-product.html">گوشواره زمرد</a></h4>
                                    <p class="product-promo-text">
                                        موجود در انبار و نسخه کمیاب
                                    </p>
                                    <div class="product-price">
                                        <span class="text-sienna">1100 تومان</span> <span class="discount">2100 تومان</span>
                                    </div>
                                    <ul class="ratings style1 list-style">
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="rated"><i class="las la-star"></i></li>
                                        <li class="non-rated"><i class="las la-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-btn style1 product-next-one"><i class="las la-angle-right"></i></div>
                <div class="slider-btn style1 product-prev-one"><i class="las la-angle-left"></i></div>
            </div>
        </div>
    </div>
</section>
<!-- Best Selling Item Section end -->
<!-- Feature Product Category Section start -->
<section class="feature-category pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="feature-cat-item style2 bg-f bg-white-linen feature-bg-1">
                    <div class="grad_overlay one"></div>
                    <div class="feature-text">
                        <h3 class="text-white">
                            انگشتر دونفره الماس تخفیف بگیرید
                        </h3>
                        <span class="text-white">%25 تخفیف انگشتر الماس</span>
                        <a href="#" class="link style3">اکنون بخرید<i class="las la-angle-double-left"></i></a>
                    </div>
                    <span class="discount-tag">
                        %25-
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="feature-cat-item style2 bg-f bg-white-linen feature-bg-2">
                    <div class="grad_overlay one"></div>
                    <div class="feature-text">
                        <h3 class="text-white">
                            انگشتر دونفره الماس تخفیف بگیرید
                        </h3>
                        <span class="text-white">%5 تخفیف انگشتر الماس</span>
                        <a href="#" class="link style3">اکنون بخرید<i class="las la-angle-double-left"></i></a>
                    </div>
                    <span class="discount-tag">
                        %5-
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature Product Category Section end -->
<!-- Best Selling Item Section start -->
<section class="product-wrap pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                <div class="section-title style3 text-center mb-40">
                    <h2 class="text-black">پرفروش ترین محصولات</h2>
                    <p>پیشنهاد زمستانی با 75% تخفیف ویژه</p>
                    <div class="section-seperator">
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="product-card style1">
                    <div class="product-img">
                        <img src="~/theme/assets/img/product/product-1.jpg" alt="Image">
                        <div class="product-option">
                            <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                            <button class="add-to-wishlist" type="button">
                                <i class="lar la-heart"></i>
                            </button>
                            <button class="add-to-cart" type="button">
                                <i class="las la-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-info">
                        <h4 class="product-name"><a class="text-black" href="single-product.html">حلقه زمرد</a></h4>
                        <p class="product-promo-text">
                            موجود در انبار و نسخه کمیاب
                        </p>
                        <div class="product-price">
                            <span class="text-sienna">1100 تومان</span> <span class="discount">2100 تومان</span>
                        </div>
                        <ul class="ratings style1 list-style">
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="product-card style1">
                    <div class="product-img">
                        <img src="~/theme/assets/img/product/product-2.jpg" alt="Image">
                        <div class="product-option">
                            <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                            <button class="add-to-wishlist" type="button">
                                <i class="lar la-heart"></i>
                            </button>
                            <button class="add-to-cart" type="button">
                                <i class="las la-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-info">
                        <h4 class="product-name"><a class="text-black" href="single-product.html">حلقه الماس</a></h4>
                        <p class="product-promo-text">
                            موجود در انبار و نسخه کمیاب
                        </p>
                        <div class="product-price">
                            <span class="text-sienna">1100 تومان</span>
                        </div>
                        <ul class="ratings style1 list-style">
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="non-rated"><i class="las la-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="product-card style1">
                    <div class="product-img">
                        <img src="~/theme/assets/img/product/product-3.jpg" alt="Image">
                        <div class="product-option">
                            <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                            <button class="add-to-wishlist" type="button">
                                <i class="lar la-heart"></i>
                            </button>
                            <button class="add-to-cart" type="button">
                                <i class="las la-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-info">
                        <h4 class="product-name"><a class="text-black" href="single-product.html">حلقه طلا</a></h4>
                        <p class="product-promo-text">
                            موجود در انبار و نسخه کمیاب
                        </p>
                        <div class="product-price">
                            <span class="text-sienna">1100 تومان</span> <span class="discount">2100 تومان</span>
                        </div>
                        <ul class="ratings style1 list-style">
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="non-rated"><i class="las la-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="product-card style1">
                    <div class="product-img">
                        <img src="~/theme/assets/img/product/product-4.jpg" alt="Image">
                        <div class="product-option">
                            <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                            <button class="add-to-wishlist" type="button">
                                <i class="lar la-heart"></i>
                            </button>
                            <button class="add-to-cart" type="button">
                                <i class="las la-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-info">
                        <h4 class="product-name"><a class="text-black" href="single-product.html">حلقه ازدواج</a></h4>
                        <p class="product-promo-text">
                            موجود در انبار و نسخه کمیاب
                        </p>
                        <div class="product-price">
                            <span class="text-sienna">1100 تومان</span> <span class="discount">2100 تومان</span>
                        </div>
                        <ul class="ratings style1 list-style">
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="product-card style1">
                    <div class="product-img">
                        <img src="~/theme/assets/img/product/product-5.jpg" alt="Image">
                        <div class="product-option">
                            <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                            <button class="add-to-wishlist" type="button">
                                <i class="lar la-heart"></i>
                            </button>
                            <button class="add-to-cart" type="button">
                                <i class="las la-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-info">
                        <h4 class="product-name"><a class="text-black" href="single-product.html">گردنبند سنگ</a></h4>
                        <p class="product-promo-text">
                            موجود در انبار و نسخه کمیاب
                        </p>
                        <div class="product-price">
                            <span class="text-sienna">1100 تومان</span>
                        </div>
                        <ul class="ratings style1 list-style">
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="non-rated"><i class="las la-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="product-card style1">
                    <div class="product-img">
                        <img src="~/theme/assets/img/product/product-6.jpg" alt="Image">
                        <div class="product-option">
                            <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                            <button class="add-to-wishlist" type="button">
                                <i class="lar la-heart"></i>
                            </button>
                            <button class="add-to-cart" type="button">
                                <i class="las la-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-info">
                        <h4 class="product-name"><a class="text-black" href="single-product.html">گوشواره زمرد</a></h4>
                        <p class="product-promo-text">
                            موجود در انبار و نسخه کمیاب
                        </p>
                        <div class="product-price">
                            <span class="text-sienna">1100 تومان</span> <span class="discount">2100 تومان</span>
                        </div>
                        <ul class="ratings style1 list-style">
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="non-rated"><i class="las la-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="product-card style1">
                    <div class="product-img">
                        <img src="~/theme/assets/img/product/product-7.jpg" alt="Image">
                        <div class="product-option">
                            <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                            <button class="add-to-wishlist" type="button">
                                <i class="lar la-heart"></i>
                            </button>
                            <button class="add-to-cart" type="button">
                                <i class="las la-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-info">
                        <h4 class="product-name"><a class="text-black" href="single-product.html">دستبند طلا</a></h4>
                        <p class="product-promo-text">
                            موجود در انبار و نسخه کمیاب
                        </p>
                        <div class="product-price">
                            <span class="text-sienna">1100 تومان</span> <span class="discount">2100 تومان</span>
                        </div>
                        <ul class="ratings style1 list-style">
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="product-card style1">
                    <div class="product-img">
                        <img src="~/theme/assets/img/product/product-8.jpg" alt="Image">
                        <div class="product-option">
                            <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                            <button class="add-to-wishlist" type="button">
                                <i class="lar la-heart"></i>
                            </button>
                            <button class="add-to-cart" type="button">
                                <i class="las la-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-info">
                        <h4 class="product-name"><a class="text-black" href="single-product.html">گوشواره مروارید</a></h4>
                        <p class="product-promo-text">
                            موجود در انبار و نسخه کمیاب
                        </p>
                        <div class="product-price">
                            <span class="text-sienna">1100 تومان</span> <span class="discount">2100 تومان</span>
                        </div>
                        <ul class="ratings style1 list-style">
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                            <li class="rated"><i class="las la-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-30">
            <div class="col-md-12 text-center">
                <a href="shop-left-sidebar.html" class="btn style4">مشاهده بیشتر</a>
            </div>
        </div>
    </div>
</section>
<!-- Best Selling Item Section end -->
<!-- Testimonial Section start -->
<section class="testimonial-wrap bg-linen">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div dir="rtl" class="testimonial-slider-two swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testimonial-item style2 ptb-100">
                                <div class="client-info">
                                    <div class="client-img">
                                        <img src="~/theme/assets/img/testimonial/client-10.jpg" alt="Image">
                                    </div>
                                    <div class="client-name">
                                        <h6> اما واتسون</h6>
                                        <span>طراح وب</span>
                                    </div>
                                </div>
                                <div class="client-quote">
                                    <div class="quote-icon-one">
                                        <i class="flaticon-right-quotation-mark"></i>
                                    </div>
                                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به مدت 40 سال استاندارد  صنعت بوده است. لورم ایپسوم به سادگی  متن را در بر می گیرد.</p>
                                    <div class="quote-icon-two">
                                        <i class="flaticon-quote-left"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-item style2 ptb-100">
                                <div class="client-info">
                                    <div class="client-img">
                                        <img src="~/theme/assets/img/testimonial/client-11.jpg" alt="Image">
                                    </div>
                                    <div class="client-name">
                                        <h6>لارا کرافت</h6>
                                        <span>طراح وب</span>
                                    </div>
                                </div>
                                <div class="client-quote">
                                    <div class="quote-icon-one">
                                        <i class="flaticon-right-quotation-mark"></i>
                                    </div>
                                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به مدت 40 سال استاندارد  صنعت بوده است. لورم ایپسوم به سادگی  متن را در بر می گیرد. </p>
                                    <div class="quote-icon-two">
                                        <i class="flaticon-quote-left"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-item style2 ptb-100">
                                <div class="client-info">
                                    <div class="client-img">
                                        <img src="~/theme/assets/img/testimonial/client-12.jpg" alt="Image">
                                    </div>
                                    <div class="client-name">
                                        <h6> مگان تیلور</h6>
                                        <span>طراح وب</span>
                                    </div>
                                </div>
                                <div class="client-quote">
                                    <div class="quote-icon-one">
                                        <i class="flaticon-right-quotation-mark"></i>
                                    </div>
                                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به مدت 40 سال استاندارد  صنعت بوده است. لورم ایپسوم به سادگی  متن را در بر می گیرد. </p>
                                    <div class="quote-icon-two">
                                        <i class="flaticon-quote-left"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-pagination style2 testimonial-pagination-two"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section end -->
<!-- Blog Section start -->
<section class="blog-wrap pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-12">
                <div class="section-title style1 text-center mb-40">
                    <h2 class="text-black">اخبار وبلاگ ما</h2>
                    <p>پیشنهاد زمستانی با 75% تخفیف ویژه</p>
                    <div class="section-seperator">
                        <img src="~/theme/assets/img/dimond.png" alt="Image">
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="blog-card style2">
                    <div class="blog-img">
                        <img src="~/theme/assets/img/blog/blog-4.jpg" alt="Image">
                        <span class="blog-date">21 دی 1401</span>
                    </div>
                    <div class="blog-info">
                        <h4 class="blog-title"><a href="blog-left-sidebar.html">نحوه خرید و دریافت جواهرات از فروشگاه هانسی</a></h4>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم متن را در بر می گیرد. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card style2">
                    <div class="blog-img">
                        <img src="~/theme/assets/img/blog/blog-6.jpg" alt="Image">
                        <span class="blog-date">21 دی 1401</span>
                    </div>
                    <div class="blog-info">
                        <h4 class="blog-title"><a href="blog-left-sidebar.html">نحوه خرید و دریافت جواهرات از فروشگاه هانسی</a></h4>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم متن را در بر می گیرد. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card style2">
                    <div class="blog-img">
                        <img src="~/theme/assets/img/blog/blog-12.jpg" alt="Image">
                        <span class="blog-date">21 دی 1401</span>
                    </div>
                    <div class="blog-info">
                        <h4 class="blog-title"><a href="blog-left-sidebar.html">نحوه خرید و دریافت جواهرات از فروشگاه هانسی</a></h4>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم متن را در بر می گیرد. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section end -->


