<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,Hancy - Handmade Jwellery Shop HTML Template">
    <meta name="description" content="Hancy - Handmade Jwellery Shop HTML Template">
    <meta name="author" content="Barat Hadian">
    <!--====== Title ======-->
    <title>@ViewData["Title"] - طلا کادو</title>

    <meta name="description" content="@ViewData["Description"] >
    @RenderSection("JsonLd", required: false)
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/theme/assets/img/favicon.png" type="image/png" />
    <!--====== Bootstrap css ======-->
    <link href="~/theme/assets/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <!--====== Jquery UI css ======-->
    <link href="~/theme/assets/css/jquery-ui-min.css" rel="stylesheet" />
    <!--====== icon css ======-->
    <link href="~/theme/assets/css/line-awesome.min.css" rel="stylesheet" />
    <link href="~/theme/assets/css/flaticon.css" rel="stylesheet" />
    <!--====== Animate  css ======-->
    <link href="~/theme/assets/css/animate.min.css" rel="stylesheet" />
    <!--====== Swiper css ======-->
    <link href="~/theme/assets/css/swiper-min.css" rel="stylesheet" />
    <!--====== EasyZoom css ======-->
    <link href="~/theme/assets/css/easyzoom.css" rel="stylesheet" />
    <!--====== Style css ======-->
    <link href="~/theme/assets/css/style.css" rel="stylesheet" />
    <link href="~/theme/assets/css/dark-theme.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Talakado.Web.styles.css" asp-append-version="true" />
    @RenderSection("Styles", false)
</head>

<body>

    <!-- page wrapper Start -->
    <div class="page-wrapper">
        <div class="body_overlay"></div>

        <!-- Theme Switcher Start -->
        <div class="switch-theme-mode">
            <label id="switch" class="switch">
                <input type="checkbox" onchange="toggleTheme()" id="slider">
                <span class="slider round"></span>
            </label>
        </div>
        <!-- Theme Switcher End -->
        
    <!-- header component -->
        @await Component.InvokeAsync("HeaderComponent")
       
        <!-- Feature Produce Slider Start -->
        <section class="hero-wrap  style1">
            <div class="container-fluid px-0">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </section>
        <!-- Feature Produce Slider end -->
      
        <!-- Newsletter section start -->
        <section class="newsletter-wrap style1 bg-f newsletter-bg-1 ptb-100">
            <div class="overlay bg-shaft op-95"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-12">
                        <div class="section-title style2 text-center mb-40">
                            <h2 class="text-white">عضویت در خبرنامه ما</h2>
                            <p class="text-white">جستجو کنید و شیک ترین محصولات را دریافت کنید</p>
                            <div class="section-seperator">
                                <img src="~/theme/assets/img/dimond-white.png" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                        <form action="#" class="newsletter-form style1">
                            <div class="form-group">
                                <input type="email" placeholder="ایمیل خود را وارد کنید">
                                <button type="submit">مشترک شدن</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Newsletter section end -->
        <!-- Footer  start -->
        <footer class="footer-wrap style1 bg-f footer-bg-1">
            <div class="overlay op-95 bg-sand"></div>
            <div class="footer-top ptb-100 text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer-logo text-center">
                                <a href="index.html"><img src="~/theme/assets/img/footer-logo-1.png" alt="Image"></a>
                            </div>
                        </div>
                        <div class="col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 col-md-12 ">
                            <div class="footer-widget">
                                <p class="footer-text">
                                    به سادگی ساختار چاپ و متن را در بر می گیرد. به مدت 40 سال استاندارد صنعت بوده است.
                                    لورم ایپسوم.
                                </p>
                                <div class="footer-seperator style1">
                                    <img src="~/theme/assets/img/dimond.png" alt="Image">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="footer-widget">
                                <div class="footer-contact">
                                    <ul class="list-style">
                                        <li>
                                            <span> <i class="flaticon-maps-and-flags"></i></span>
                                            <p>ایران، استان تهران، میدان آزادی</p>
                                        </li>
                                        <li><span><i class="flaticon-mail"></i></span><a href="mailto: hello@hancy.com"> hello@hancy.com</a></li>
                                        <li>
                                            <span><i class="flaticon-call"></i></span>
                                            <a href="tel:15143214567">+1 (514) 321-4567</a>
                                        </li>
                                    </ul>
                                    <div class="contact-item">
                                    </div>
                                </div>
                                <ul class="social-profile style1 list-style">
                                    <li><a target="_blank" href="https://facebook.com"><i class="lab la-facebook-f"></i> </a></li>
                                    <li><a target="_blank" href="https://linkedin.com"> <i class="lab la-linkedin-in"></i> </a></li>
                                    <li><a target="_blank" href="https://twitter.com"> <i class="lab la-twitter"></i> </a></li>
                                    <li><a target="_blank" href="https://instagram.com"> <i class="lab la-instagram"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom bg-jaguar">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-12 ">
                            <div class="footer-bottom-menu">
                                <ul class="list-style">
                                    <li><a href="index.html">خانه</a></li>
                                    <li><a href="collections.html">مجموعه ها</a></li>
                                    <li><a href="collections.html">محصولات</a></li>
                                    <li><a href="about.html">درباره ما</a></li>
                                    <li><a href="blog-left-sidebar.html">وبلاگ</a></li>
                                    <li><a href="contact.html">تماس با ما</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12  text-xl-end">
                            <div class="copyright">
                                <p><span class="las la-copyright"></span> <script>document.write(new Date().getFullYear())</script> هانسی. تمام حقوق قالب محفوظ است. طراحی و توسعه توسط <a href="https://www.rtl-theme.com/author/barat" target="_blank">Barat Hadian</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer  end -->
        <!-- Product Modal start -->
        <div class="modal fade" id="productModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl  modal-dialog-centered">
                <div class="modal-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-body">
                        <div class="row gx-5 ">
                            <div class="col-xl-5 col-lg-6">
                                <div class="single-product-img">
                                    <img src="~/theme/assets/img/product/single-product-2.jpg" alt="Image">
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-6">
                                <div class="single-product-details">
                                    <div class="single-product-title">
                                        <h2>دستبند زمرد</h2>
                                        <div class="single-product-ratings">
                                            <ul class="ratings style3 list-style">
                                                <li><i class="las la-star"></i></li>
                                                <li><i class="las la-star"></i></li>
                                                <li><i class="las la-star"></i></li>
                                                <li><i class="las la-star"></i></li>
                                                <li><i class="las la-star"></i></li>
                                            </ul>
                                            <span>(امتیاز کاربران)</span>
                                        </div>
                                        <div class="price"><span>1100 تومان</span> <span class="discount">2100 تومان</span></div>
                                    </div>
                                    <div class="single-product-desc">
                                        <p>
                                            لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد.
                                        </p>
                                    </div>
                                    <div class="product-more-option">
                                        <div class="product-more-option-item">
                                            <h5>دسته بندی :</h5>
                                            <a class="text-green" href="shop-left-sidebar.html">جواهرات طلا</a>
                                        </div>
                                        <div class="product-more-option-item">
                                            <h5>تعداد :</h5>
                                            <div class="product-quantity">
                                                <div class="qtySelector">
                                                    <span class="las la-minus decreaseQty"></span>
                                                    <input type="text" class="qtyValue" value="1" />
                                                    <span class="las la-plus increaseQty"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-more-option-item">
                                            <h5>دسترسی :</h5>
                                            <a class="text-green" href="shop-left-sidebar.html">در انبار</a>
                                        </div>
                                    </div>
                                    <div class="single-product-option mt-25">
                                        <button type="button" class="btn style1"><span>افزودن به سبد </span></button>
                                        <button type="submit" class="btn style1"><span>اکنون بخرید</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Modal end -->

    </div>
    <!-- Page wrapper end -->
    <!-- Back-to-top button start -->
    <a href="#" class="back-to-top bounce"><i class="las la-arrow-up"></i></a>
    <!-- Back-to-top button end -->
    <!--====== jquery js ======-->
    <script src="~/theme/assets/js/jquery.min.js"></script>
    <!--====== jquery UI js ======-->
    <script src="~/theme/assets/js/jquery-ui.min.js"></script>
    <!--====== Bootstrap js ======-->
    <script src="~/theme/assets/js/bootstrap.min.js"></script>
    <script src="~/theme/assets/js/bootstrap-validator.js"></script>
    <script src="~/theme/assets/js/form-validation.js"></script>
    <!--====== Swiper js ======-->
    <script src="~/theme/assets/js/swiper-min.js"></script>
    <!--====== EasyZoom js ======-->
    <script src="~/theme/assets/js/easyzoom.js"></script>
    <!--====== jQuery Appear js ======-->
    <script src="~/theme/assets/js/jquery-appear.js"></script>
    <!--====== Counter js ======-->
    <script src="~/theme/assets/js/jquery-counter.js"></script>
    <!--====== Countdown js ======-->
    <script src="~/theme/assets/js/countdown.js"></script>
    <!--====== Main js ======-->
    <script src="~/theme/assets/js/main.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    
    <script src="~/js/signalronlinevisitorservice.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>