@page
@model Talakado.AdminPanel.Pages.Content.MainPageModel
@{
    ViewData["Title"] = "مدیریت محتوای صفحه اصلی";
}
@section Styles {
    <link href="~/css/mainpage.css" rel="stylesheet" />
    <link href="~/lib/froala-editor/css/froala_editor.pkgd.min.css" rel="stylesheet" />
    <link href="~/lib/datatable/datatables.bootstrap.min.css" rel="stylesheet" />
}
<div class="container-fluid">

    <div class="row mainpageRow">
        <h4 class="box-header text-bold">بخش هدر(قسمت بالای سایت)</h4>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">متن بالای هدر</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="post" asp-antiforgery="true" asp-page-handler="SetContent">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="adverticePhrase">متن </label>
                            <input type="text" class="form-control" id="adverticePhrase" placeholder="" value="@Model.HomePageViewmodel.AdvertisePhrase">
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="advetiseIsShow" asp-for="@Model.HomePageViewmodel.IsShowAdvertisePhrase" /> نمایش متن فعال باشد
                            </label>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="button" onclick="SendContent('advertisementPhrase', 'adverticePhrase', 'advetiseIsShow', 'noEditor')" class="btn btn-primary">ثبت</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">شماره تماس فروشگاه</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                <form role="form" method="post" asp-antiforgery="true" asp-page-handler="SetContent">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="adverticePhrase">شماره </label>
                                <input type="text" class="form-control" id="phoneNumber" placeholder="" value="@Model.HomePageViewmodel.PhoneNumber">
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="phoneNumberIsShow" asp-for="@Model.HomePageViewmodel.IsShowPhoneNumber" /> نمایش شماره فعال باشد
                                </label>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                        <button type="button" onclick="SendContent('phoneNumber', 'phoneNumber', 'phoneNumberIsShow', 'noEditor')" class="btn btn-primary">ثبت</button>
                        </div>
                    </form>
                </div>
            </div>
    </div>
    <br />
    <div class="row mainpageRow">
        <h4 class="box-header text-bold">بخش اسلایدر</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="box box-primary">
                    <img style="max-width:100%;max-height:100%;position:absolute;top:0;left:0" src="@Model.HomePageViewmodel.Slide1?.ImageAddress" />
                    <div class="box-header">
                        <h3 class="box-title">آپلود اسلاید اول</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" method="post" asp-antiforgery="true" asp-page-handler="AddImage">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="">عکس اسلاید اول </label>
                                <input type="file" class="form-control" id="slide1" accept="image/*" name="slide1">
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="button" onclick="SendImage('slide1')" class="btn btn-primary">ثبت</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-primary">
                    <img style="max-width:100%;max-height:100%;position:absolute;top:0;left:0" src="@Model.HomePageViewmodel.Slide2?.ImageAddress" />
                    <div class="box-header">
                        <h3 class="box-title">آپلود اسلاید دوم</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" method="post" asp-antiforgery="true" asp-page-handler="AddImage">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="">عکس اسلاید دوم </label>
                                <input type="file" class="form-control" id="slide2" multiple class="form-control" accept="image/*" name="slide2">
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="button" onclick="SendImage('slide2')" class="btn btn-primary">ثبت</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-primary">
                    <img style="max-width:100%;max-height:100%;position:absolute;top:0;left:0" src="@Model.HomePageViewmodel.Slide3?.ImageAddress" />
                    <div class="box-header">
                        <h3 class="box-title">آپلود اسلاید سوم</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" method="post" asp-antiforgery="true" asp-page-handler="AddImage">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="">عکس اسلاید سوم </label>
                                <input type="file" class="form-control" id="slide3" multiple class="form-control" accept="image/*" name="slide3">
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="button" onclick="SendImage('slide3')" class="btn btn-primary">ثبت</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">متن اسلاید اول</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" id="slide1txtForm" method="post" asp-antiforgery="true" asp-page-handler="SetContent">
                        <div class="box-body">
                            <div class="form-group">
                                <label>قابل طراحی با ادیتور</label>
                                <textarea id="slide1txt" name="slide1txt" class="form-control" rows="5">
                                    @Html.Raw(Model.HomePageViewmodel.Slide1?.SlideText)
                                </textarea>
                                @* <textarea name="area1" cols="40"></textarea> *@
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="button" onclick="SendContent('slide1Text', 'slide1txtForm', 'null', 'editor')" class="btn btn-primary">ثبت</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">متن اسلاید دوم</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" id="slide2txtForm" method="post" asp-antiforgery="true" asp-page-handler="SetContent">
                        <div class="box-body">
                            <div class="form-group">
                                <label>قابل طراحی با ادیتور</label>
                                <textarea id="slide2txt" name="slide2txt" class="form-control" rows="5">
                                    @Html.Raw(Model.HomePageViewmodel.Slide2?.SlideText)
                                </textarea>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="button" onclick="SendContent('slide2Text', 'slide2txtForm', 'null', 'editor')" class="btn btn-primary">ثبت</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">متن اسلاید سوم</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" id="slide3txtForm" method="post" asp-antiforgery="true" asp-page-handler="SetContent">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="">قابل طراحی با ادیتور</label>
                                <textarea id="slide3txt" name="slide3txt" class="form-control" rows="5">
                                    @Html.Raw(Model.HomePageViewmodel.Slide3?.SlideText)
                                </textarea>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="button" onclick="SendContent('slide3Text', 'slide3txtForm', 'null', 'editor')" class="btn btn-primary">ثبت</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row mainpageRow">
        <h4 class="box-header text-bold">بنر وسط صفحه (زیر اسلایدر)</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <img style="max-width:100%;max-height:100%;position:absolute;left:0" src="@Model.HomePageViewmodel.BannerImage" />
                    <div class="box-header">
                        <h3 class="box-title">آپلود عکس بنر</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" method="post" asp-antiforgery="true" asp-page-handler="AddImage">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="">عکس بنر وسط </label>
                                <input type="file" class="form-control" id="bannerImage" accept="image/*" name="bannerImage">
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="button" onclick="SendImage('bannerImage')" class="btn btn-primary">ثبت</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row mainpageRow">
        <h4 class="box-header text-bold">بنرهای حاوی محصول</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">بنر بالا سمت راست</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" method="post" asp-antiforgery="true" asp-page-handler="">
                        <div class="box-body">
                            <div class="">
                                <input type="button" onclick="OpenItemListModal()" class="btn btn-default" value="انتخاب محصول برای نمایش در بنر" id="bannerItemTopRight" name="bannerItemTopRight">
                                <div style="display:inline-block;margin-right:30px">sgfsdagf</div>
                                <img src="@Model.HomePageViewmodel.BannerImage" width="30" style="margin-right:20px" />
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-body">
                            <div class="form-group">
                                <label for="">متن بنر قابل طراحی با ادیتور</label>
                                <textarea id="bannerItemTopRighttxt" name="bannerItemTopRighttxt" class="form-control" rows="5">
                                    @Html.Raw(Model.HomePageViewmodel.Slide3?.SlideText)
                                </textarea>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="button" onclick="" class="btn btn-primary">ثبت</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">بنر بالا سمت چپ</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" method="post" asp-antiforgery="true" asp-page-handler="">
                        <div class="box-body">
                            <div class="">
                                <input type="button" class="btn btn-default" value="انتخاب محصول برای نمایش در بنر" id="bannerItemTopleft" name="bannerItemTopleft">
                                <div style="display:inline-block;margin-right:30px">sgfsdagf</div>
                                <img src="@Model.HomePageViewmodel.BannerImage" width="30" style="margin-right:20px" />
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-body">
                            <div class="form-group">
                                <label for="">متن بنر قابل طراحی با ادیتور</label>
                                <textarea id="bannerItemToplefttxt" name="bannerItemToplefttxt" class="form-control" rows="5">
                                    @Html.Raw(Model.HomePageViewmodel.Slide3?.SlideText)
                                </textarea>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="button" onclick="" class="btn btn-primary">ثبت</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">بنر پایین سمت راست</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" method="post" asp-antiforgery="true" asp-page-handler="">
                        <div class="box-body">
                            <div class="">
                                <input type="button" class="btn btn-default" value="انتخاب محصول برای نمایش در بنر" id="bannerItembottomRight" name="bannerItembottomRight">
                                <div style="display:inline-block;margin-right:30px">sgfsdagf</div>
                                <img src="@Model.HomePageViewmodel.BannerImage" width="30" style="margin-right:20px" />
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-body">
                            <div class="form-group">
                                <label for="">متن بنر قابل طراحی با ادیتور</label>
                                <textarea id="bannerItembottomRighttxt" name="bannerItembottomRighttxt" class="form-control" rows="5">
                                    @Html.Raw(Model.HomePageViewmodel.Slide3?.SlideText)
                                </textarea>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="button" onclick="" class="btn btn-primary">ثبت</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">بنر پایین سمت چپ</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" method="post" asp-antiforgery="true" asp-page-handler="">
                        <div class="box-body">
                            <div class="">
                                <input type="button" class="btn btn-default" value="انتخاب محصول برای نمایش در بنر" id="bannerItembottomleft" name="bannerItembottomleft">
                                <div style="display:inline-block;margin-right:30px">sgfsdagf</div>
                                <img src="@Model.HomePageViewmodel.BannerImage" width="30" style="margin-right:20px" />
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-body">
                            <div class="form-group">
                                <label for="">متن بنر قابل طراحی با ادیتور</label>
                                <textarea id="bannerItembottomlefttxt" name="bannerItembottomlefttxt" class="form-control" rows="5">
                                    @Html.Raw(Model.HomePageViewmodel.Slide3?.SlideText)
                                </textarea>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="button" onclick="" class="btn btn-primary">ثبت</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@* @{
    var prevDisabled = !Model.CatalogType.HasPerviousPage ? "disabled" : "";
    var nextDisabled = !Model.CatalogType.HasNextPage ? "disabled" : "";
    var active = "";
} *@


<!-- modal -->
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                
                <div class="row">
                    <div class="col-md-6">
                        <label>جستجوی محصول</label>
                        <div class="input-group input-group">
                            <input type="text" class="form-control" id="searchKeyInput">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-info btn-flat" id="searchBtn" onclick="GetCatalogItemListWithSearchKey()">جستجو</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4" style="float:left">
                        <div class="form-group">
                            <label>تعداد انتخاب هر بار</label>
                            <select class="form-control" id="catalogCountInEachView" onchange="GetCatalogItemListWithPageSize()">
                                <option>5</option>
                                <option selected>10</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-body">
                <!-- /.box -->

                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="catalogItemListTable" class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>ردیف</th>
                                    <th>نام محصول</th>
                                    <th>عکس محصول</th>
                                </tr>
                            </thead>
                            <tbody id="catalogList_tbody">
                                
                               
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <div class="modal-footer">
                <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate" style="width:100%;margin:auto;text-align:center;">
                    <ul class="pagination" id="pagingModule">
                        
                    </ul>
                </div>
                @* <button type="button" class="btn btn-default pull-left" data-dismiss="modal">خروج</button>
                <button type="button" class="btn btn-primary">ذخیره</button> *@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@section Scripts {
    <script src="//js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
    <script src="~/lib/datatable/jquery.datatables.min.js"></script>
    <script src="~/lib/datatable/datatables.bootstrap.min.js"></script>
    <script>
        bkLib.onDomLoaded(function () {
            //nicEditors.allTextAreas()
            new nicEditor({ fullPanel: true }).panelInstance('slide1txt');
            new nicEditor({ fullPanel: true }).panelInstance('slide2txt');
            new nicEditor({ fullPanel: true }).panelInstance('slide3txt');
            new nicEditor({ fullPanel: true }).panelInstance('bannerItemTopRighttxt');
            new nicEditor({ fullPanel: true }).panelInstance('bannerItemToplefttxt');
            new nicEditor({ fullPanel: true }).panelInstance('bannerItembottomRighttxt');   
            new nicEditor({ fullPanel: true }).panelInstance('bannerItembottomlefttxt');
        });

        // $(function () {
        //     $('#catalogItemListTable').DataTable({
        //         'paging': true,
        //         'lengthChange': true,
        //         'searching': true,
        //         'ordering': true,
        //         'info': true,
        //         'autoWidth': true
        //     })
        // })
    </script>

    <script>
        function SendImage(slideNum) {
            var slide = document.getElementById(slideNum);
            if (slide.files.length > 0) {
                var data = new FormData();
                data.append(slideNum, slide.files[0]);
                data.append("slideNumber", slideNum);
            
            //ارسال به سرور با ای جکس
            var ajaxRequest = $.ajax({
                type: "post",
                contentType: false,
                processData: false,
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                url: "./mainpage?handler=AddImage",
                data: data ,
                success: function (result) {
                    if (result === "true") {
                        swal.fire(
                            'پیام موفقیت!',
                            'عکس با موفقیت ذخیره شد',
                            'success'
                        );
                    } else {
                        swal.fire(
                            'پیام هشدار!',
                            "عملیات ذخیره عکس انجام نشد " + result,
                            'Error'
                        );
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
            ajaxRequest.done(function (xhr, textStatus) {
                // Do other operation
            });
            }
            else{
                swal.fire(
                    'پیام هشدار!',
                    "خطا در بارگذاری فایل",
                    'Error'
                );
            }
        }

        function SendContent(key, contentId, isShow, editorStatus){
            var content = "";
            if (editorStatus == "noEditor") {
                content = $('#' + contentId).val(); 
            }
            else{
                content = $('#' + contentId).find('.nicEdit-main').text();
            }
            
            var IsShow = true;
            if(isShow !== 'null'){
                IsShow = $('#' + isShow).is(':checked');
            }
            console.log(content + "  " + IsShow)
            //ارسال به سرور با ای جکس
            var ajaxRequest = $.ajax({
                type: "post",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                url: "./mainpage?handler=SetContent",
                data: { 'key': key, 'txt': content, 'isShow': IsShow },
                success: function (result) {
                    if (result === "true") {
                        swal.fire(
                            'پیام موفقیت!',
                            'متن با موفقیت ثبت شد',
                            'success'
                        );
                    } else {
                        swal.fire(
                            'پیام هشدار!',
                            "عملیات ذخیره متن انجام نشد",
                            'Error'
                        );
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
            ajaxRequest.done(function (xhr, textStatus) {
                // Do other operation
            });
        }

        function OpenItemListModal() {
            $('#modal-default').modal('show');
            GetCatalogItemList('', 1, 5);
        }

        globalPageIndex = "";
        globalPageSize = "";
        globalSearchKey = "";

        function GetCatalogItemListWithSearchKey() {
            globalSearchKey = $('#searchKeyInput').val;
            GetCatalogItemList(globalSearchKey, globalPageIndex, globalPageSize);
        }
        function GetCatalogItemListWithPageSize() {
            globalPageSize = $('#catalogCountInEachView').val;
            GetCatalogItemList(globalSearchKey, globalPageIndex, globalPageSize);
        }

        
        function GetCatalogItemList(searchKey, pageIndex, pageSize) {
            var searchKey1 = globalSearchKey;
            $.ajax({
                url: "./mainpage?handler=GetCatalogItemList",
                type: "post",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: { "searchKey": searchKey1, "page": pageIndex, "pageSize": pageSize },
                success: function (result) {
                    globalPageIndex = result.pageIndex;
                    globalPageSize = result.pageSize;
                    console.log(result);
                    $('#catalogList_tbody').text(null);
                    $.each(result.data, function (key, object) {
                        $('#catalogList_tbody').append(`
                            <tr style="cursor:pointer">
                                <td>${object.id}</td>
                                <td>${object.name}</td>
                                <td>
                                    <img src="${object.image}" width="30" style="margin-right:20px" />
                                </td>
                            </tr>
                        `);
                    }
                        var btns = "";
                    // if (result.pager.totalPages <= 7) {
                    //     for (i = 1; i <= result.pager.totalPages; i++) {
                    //         btns += `<li class="paginate_button " id="pageIndex_${i}" onclick="GetCatalogItemList('${result.pageIndex}')">
                    //                     <a>${i}</a>
                    //                 </li>`;
                    //     }
                    // }
                    // else {
                    var distanceToStartPage = 0;
                    var distanceToEndPage = 0;
                    var defaultDistanceStart = 3;
                    var defaultDistanceEnd = 3;
                    var startPage = parseInt(result.pageIndex) - 3;
                    var endPage = parseInt(result.pageIndex) + 3;
                    if (startPage < 1) {
                        distanceToStartPage = 1 - parseInt(startPage);
                        defaultDistanceStart = parseInt(defaultDistanceStart) - parseInt(distanceToStartPage);
                        startPage = parseInt(result.pageIndex) - parseInt(defaultDistanceStart);

                        defaultDistanceEnd = parseInt(defaultDistanceEnd) + parseInt(distanceToStartPage);
                        endPage = parseInt(result.pageIndex) + parseInt(defaultDistanceEnd);

                        if (endPage > result.pager.totalPages) {
                            distanceToEndPage = parseInt(endPage) - parseInt(result.pager.totalPages);
                            defaultDistanceEnd = parseInt(defaultDistanceEnd) - parseInt(distanceToEndPage);
                            endPage = parseInt(result.pageIndex) + parseInt(defaultDistanceEnd);
                        }
                    }
                    if (endPage > result.pager.totalPages) {
                        distanceToEndPage = parseInt(endPage) - parseInt(result.pager.totalPages);
                        defaultDistanceEnd = parseInt(defaultDistanceEnd) - parseInt(distanceToEndPage);
                        endPage = parseInt(result.pageIndex) + parseInt(defaultDistanceEnd);

                        defaultDistanceStart = parseInt(defaultDistanceStart) + parseInt(distanceToEndPage);
                        startPage = parseInt(result.pageIndex) - parseInt(defaultDistanceStart);

                        if (startPage < 1) {
                            distanceToStartPage = 1 - parseInt(startPage);
                            defaultDistanceStart = parseInt(defaultDistanceStart) - parseInt(distanceToStartPage);
                            startPage = parseInt(result.pageIndex) - parseInt(defaultDistanceStart);
                        }
                    }


                    for (i = startPage; i <= endPage; i++) {
                        btns += `<li class="paginate_button " style="cursor:pointer" id="pageIndex_${i}" onclick="GetCatalogItemList('','${i}','${result.pageSize}')">
                                                    <a>${i}</a>
                                                </li>`;
                    }
                    // }
                    var nextPageClass = ""
                    var perviousPageClass = ""
                    var perviousPageNumber = parseInt(result.pageIndex) - 1;
                    var nextPageNumber = parseInt(result.pageIndex) + 1;

                    if (!result.hasNextPage) {
                        nextPageClass = "disabled";
                        nextPageNumber = result.pageIndex;
                    }
                    if (!result.hasPerviousPage) {
                        perviousPageClass = "disabled";
                        perviousPageNumber = result.pageIndex;
                    }


                    $('#pagingModule').html(`
                            <li class="paginate_button next" style="cursor:pointer" onclick="GetCatalogItemList('','1','${result.pageSize}')" id="page_start">
                                <a class="">صفحه اول</a>
                            </li>
                            <li class="paginate_button previous ${perviousPageClass}" style="cursor:pointer" id="page_previous" onclick="GetCatalogItemList('','${perviousPageNumber}','${result.pageSize}')">
                                <a class="">قبلی</a>
                            </li>

                           ${btns}

                            <li class="paginate_button next ${nextPageClass}" style="cursor:pointer" id="page_next" onclick="GetCatalogItemList('','${nextPageNumber}','${result.pageSize}')">
                                <a class="">بعدی</a>
                            </li>
                            <li class="paginate_button next " style="cursor:pointer" id="page_end" onclick="GetCatalogItemList('','${result.pager.totalPages}','${result.pageSize}')">
                                <a class="">صفحه آخر</a>
                            </li>
                        `);
                    $('#pageIndex_' + result.pageIndex).addClass("active");
                }


            });
        }
    </script>
}